<html xmlns="http://www.w3.org/1999/xhtml"
  lang="ja" xml:lang="ja">
<head>
<title>$B@>1;%5!<%P!<$G1?MQ$5$l$F$$$k%a%$%k!&%j%9%H(B</title>
<link rel="stylesheet" href="/admin/style/common" media="all" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="copyright" href="/c/pd" />
<link rel="next" href="obsolete-list" />
<link rel="contents" href="/admin/mail/" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B@>1;(B, $B1?MQ(B, $B7G<(HD(B, $B5-O?(B" />
<meta name="keywords" content="$B%a%$%k!&%j%9%H(B, mail list, ML, mailing list, $B%a%$%j%s%0!&%j%9%H(B" />
<meta name="description" content="$B@>1;%5!<%P!<$rMxMQ$7$F1?MQ$5$l$F$$$k%a%$%k!&%j%9%H$N0lMw(B" />
<style type="text/css" media="all">
.nonsuika	{color: red}
.obsolete	{color: gray}
</style>
</head>
<body>
<h1>$B%a%$%j%s%0!&%j%9%H$N0lMw(B</h1>

<p>
$B$3$NJ8=q$G$O!"8=:_@>1;;*$G1?MQ$5$l$F$$$k8x3+(B <sup><a href="#FN2">*2</a></sup>
$B$N%a%$%j%s%0!&%j%9%H$K$D$$$F$N>pJs$rDs6!$7$F$$$^$9!#(B
</p>

<p>
$B3F%a%$%j%s%0!&%j%9%H$K;22C$5$l$k>l9g$O@bL@$r$h$/$*FI$_$K$J$C$F$/$@$5$$!#(B
$B$3$3$KL5$$%a%$%j%s%0!&%j%9%H$O!"(B<a href="obsolete-list">$B4{$KGQ;_$5$l$F$$$k(B</a>$B$N$+$b$7$l$^$;$s!#(B
$B?7$7$$%j%9%H$rMQ0U$7$?$$>l9g$O!"(B<a href="make">$B@lMQ$N5-F~Ms(B</a>$B$rKd$a$F$4O"Mm$/$@$5$$!#(B
$B@^$jJV$7O"Mm$7$^$9!#(B
</p>

<div class="section" id="index">
<h2>$B8=9T(B <abbr lang="en" xml:lang="en" title="mail-list">ML</abbr> $B0lMw(B</h2>

<ul>
	<li><a href="#announce.suika.suika.fam.cx">$B@>1;7W2h$+$i$N$*$7$i$;(B</a></li>
	<li><a href="#admin.suika.suika.fam.cx">$B@>1;7W2h4IM}(B</a></li>
	<li><a href="#testers.suika.suika.fam.cx">$B%F%9%HMQ(B</a></li>
</ul>
</div>

<div class="section" id="ML-SUIKA">
<h2>$B@>1;7W2h$K4X$9$k%a%$%k!&%j%9%H(B</h2>

<h3 id="announce.suika.suika.fam.cx">$B@>1;7W2h$+$i$N$*$7$i$;(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>$B@>1;7W2h$+$i$N$*$7$i$;(B (ID: announce.suika.suika.fam.cx)</dd>
<dt>$B7{>O(B</dt>
	<dd>$B@>1;7W2h$+$i$N$*$7$i$;!#@>1;%5!<%P!<$N>c32>pJs$J$I!#(B</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd><p><a href="mailto:announce-ctl@suika.fam.cx?body=subscribe%20Your%20Name">announce-ctl@suika.fam.cx $B$K(B <samp>subscribe <var>$BL>A0(B</var></samp>$B$HK\J8$K=q$$$?%a%$%k$rAw(B</a>$B$C$F2<$5$$!#(B ($B<+F0E*$K=hM}$5$l$^$9!#(B)</p>
	<p>$B$J$*!"@>1;%5!<%P!<$NMxMQ<T(B ($BEE;R%a%$%k(B, $B%&%'%V%5!<%P!<$J$I$N!#3F(B ML $B;22C<T(B, $B%&%'%V1\Mw<T$J$I$O4^$_$^$;$s!#(B) $B$O$4<+?H$GEPO?$7$J$/$F$bAw$i$l$^$9!#(B</p></dd>
<dt>$BEj9F(B</dt>
	<dd>
	<p>$B$3$N(B ML $B$K$OEj9F$G$-$^$;$s!#$*$7$i$;$H$7$FN.$7$?$$5-;v$,$"$k>l9g$O!"4IM}<T$^$G$4O"Mm$/$@$5$$!#(B</p>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:admin@suika.fam.cx">$B4IM}<T$K%a%$%k(B</a>$B!#(B</dd>
<dt>$B99$K>\$7$$>pJs(B</dt>
	<dd><a href="mailto:announce-ctl@suika.fam.cx?body=guide">$B0FFb$rEE;R%a%$%k$G<h$j4s$;$k(B</a>$B$3$H$,=PMh$^$9!#$^$?!";22C<T$NJ}$O(B<a href="mailto:announce-ctl@suika.fam.cx?body=help">$BL?Na%a%$%k$NMxMQJ}K!$r<h$j4s$;$k(B</a>$B;v$b=PMh$^$9!#(B</dd>
<dt>$BBP1~?7J9AH(B</dt>
	<dd><a href="news://suika.fam.cx/suika.announce">suika.announce</a></dd>
</dl>

<h3 id="admin.suika.suika.fam.cx">$B@>1;7W2h4IM}%a%$%k!&%j%9%H(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>$B@>1;7W2h4IM}%a%$%k!&%j%9%H(B (ID: admin.suika.suika.fam.cx)</dd>
<dt>$B7{>O(B</dt>
	<dd>$B@>1;7W2h$N1?MQ$K$D$$$F!#(B</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd><a href="mailto:admin@suika.fam.cx">$B@>1;7W2h4IM}It(B</a>$B$^$G8fO"Mm2<$5$$!#(B ($B;22C$7$F$$$k4V$O@>1;7W2h$N@5<0%a%s%P!<$G$"$kI,MW$,$"$j$^$9!#(B)</dd>
<dt>$BEj9F(B</dt>
	<dd>
	<p><a href="mailto:admin@suika.fam.cx">admin@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B ($B$I$J$?$G$bEj9F=PMh$^$9!#(B)</p>
	<p>$B:#$^$G$N5-;v$O!"(B <a href="suika-admin.ad/">Web $B$G1\Mw(B</a>$B=PMh$kB>!"EE;R%a%$%k$G<h$j4s$;$k;v$b=PMh$^$9!#(B ($B;22C<T$N$_2DG=(B)</p>
	<p>$B$3$N(BML$B$G$N?35DFbMF$OHs8x3+$G$9!#DL>o$O!"?7J9AH(B<a href="news://suika.fam.cx/suika.admin">suika.admin</a>$B$rMxMQ$7$F2<$5$$!#(B</p>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:admin-admin@suika.fam.cx">$B4IM}<T$K%a%$%k(B</a>$B!#5;=Q4IM}<T$O(B<a href="/~wakaba/who?">$B<cMU(B</a>$B$,L3$a$F$$$^$9!#(B</dd>
<dt>$B99$K>\$7$$>pJs(B</dt>
	<dd><a href="mailto:admin-ctl@suika.fam.cx?body=guide">$B0FFb$rEE;R%a%$%k$G<h$j4s$;$k(B</a>$B$3$H$,=PMh$^$9!#$^$?!";22C<T$NJ}$O(B<a href="mailto:admin-ctl@suika.fam.cx?body=help">$BL?Na%a%$%k$NMxMQJ}K!$r<h$j4s$;$k(B</a>$B;v$b=PMh$^$9!#(B</dd>
<dt>$BBP1~?7J9AH(B</dt>
	<dd><a href="news://suika.fam.cx/suika.ml.admin">suika.ml.admin</a> (ML$B;22C<T$N$_FI$`$3$H$,2DG=(B)$B!#(B</dd>
</dl>


<h3 id="testers.suika.suika.fam.cx">$B%F%9%HMQ%a%$%k!&%j%9%H(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>Suika-Testers ML (ID: testers.suika.suika.fam.cx)</dd>
<dt>$B7{>O(B</dt>
	<dd>$B?'!9$J%F%9%H$K4X$9$k;(CL!&6(5D!#(B ($B$H$$$&$N$O7zA0(B($BFf(B)$B>e$NOC$G!"<BBV$OMM!9$J%F%9%H!&%a%$%k(B($BFf(B)$B$rN.$7$F<B83$9$k>l!#(B)</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd><a href="mailto:testers-ctl@suika.fam.cx?body=subscribe%20Your%20Name">testers-ctl@suika.fam.cx $B$K(B <samp>subscribe <var>$BL>A0(B</var></samp>$B$HK\J8$K=q$$$?%a%$%k$rAw(B</a>$B$C$F2<$5$$!#(B ($B<+F0E*$K=hM}$5$l$^$9!#(B)</dd>
<dt>$BEj9F(B</dt>
	<dd>
	<p><a href="mailto:testers@suika.fam.cx">testers@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B ($B$I$J$?$G$bEj9F=PMh$^$9!#(B)</p>
	<p>$B5-;v$O<+F0E*$K%K%e!<%9!&%0%k!<%W(B <a href="news://suika.fam.cx/suika.test">suika.test</a> $B$K$bE>Aw$5$l$^$9!#(B</p>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:postmaster@suika.fam.cx">$B4IM}<T(B</a> = <a href="/~wakaba/who?">$B<cMU(B</a>$B!#(B</dd>
<dt>$BBP1~?7J9AH(B</dt>
	<dd><a href="news://suika.fam.cx/suika.test">suika.test</a>$B!#(B</dd>
<dt>$B8=:_$N>uBV(B</dt>
        <dd>$B$3$N%a%$%j%s%0!&%j%9%H$O8=:_5Y;_Cf$G$9!#(B
	$B%a%$%j%s%0!&%j%9%H7O%"%I%l%9$KAw$i$l$?%a%$%k$O@>1;;*$N%a%$%j%s%0!&%j%9%H4IM}<T$KE>Aw$5$l$^$9!#(B</dd>
</dl>
</div>

<div class="section">
<h2>$BGQ;_$5$l$?%a%$%j%s%0!&%j%9%H$J$I(B</h2>

<p>
<a href="obsolete-list">$B0JA0$K@>1;;*Ey$G1?MQ$5$l$F$$$?$b$N$N8=:_4{$K;HMQ$5$l$F$$$J$$%a%$%j%s%0!&%j%9%H$N0lMw(B</a>$B$b$4Mw2<$5$$!#(B
</p>
</div>

<h2 id="register">$B@>1;(B List-ID $BEPO?Jm(B</h2>

<p>$B%I%a%$%sL>(B <code>suika.fam.cx</code>
$B$G=*$o$k(B List-ID (<a href="urn:ietf:rfc:2919">RFC 2919</a>) 
$B$K$O8=:_<!$N$b$N$,EPO?$5$l$F$$$^$9(B 
<sup><a href="#FN3">*3</a></sup>$B!#(B 
ID $B$N3d$jEv$F$K$D$$$F$O!"(B
<a href="mailto:admin+suika@suikawiki.org?subject=%5Blist-id%5D%20"><!--<a href="mailto:sana@suika.fam.cx?subject=%5Blist-id%5D%20">-->$B@>1;7W2h4IM}ItEPO?HV9f;vL36I(B</a>$B$^$G8fO"Mm2<$5$$!#(B</p>

<ul>
<li>
<code>suika.fam.cx</code> / <code>61.201.226.127</code> <a href="#register_fn1">*1</a>
	<ul>
	<li>
	<code>chuubu</code>
		<ul>
		<li class="obsolete" id="chu.chuubu.suika.fam.cx">
		<a href="obsolete-list#chu.chuubu.suika.fam.cx">chu.chuubu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="chuubu.chuubu.suika.fam.cx">
		<a href="obsolete-list#chuubu.chuubu.suika.fam.cx">chuubu.chuubu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="WindOrchestra.chuubu.suika.fam.cx">
		<a href="obsolete-list#WindOrchestra.chuubu.suika.fam.cx">WindOrchestra.chuubu.suika.fam.cx</a>
		</li>
		<li>
		risuu
			<ul>
			<li class="nonsuika obsolete">
			<a href="/chuubu/2000/1-7/keijiban-1no7h/index">1no7h.risuu.chuubu.suika.fam.cx</a>
			</li>
			<li class="nonsuika obsolete">
			<a href="http://bbs7.otd.co.jp/703265/bbs_plain">2000e.risuu.chuubu.suika.fam.cx</a>
			</li>
			<li>
			fuyu
				<ul>
				<li class="nonsuika">
				<a href="http://www67.tcup.com/6726/fuyuki.html">nanka.fuyu.risuu.chuubu.suika.fam.cx</a>
				</li>
				</ul>
			</li>
			<li class="nonsuika obsolete">
			<a href="http://www81.tcup.com/8115/fuyufuyu.html">kari.risuu.chuubu.suika.fam.cx</a>
			</li>
			<li class="nonsuika obsolete">
			<a href="http://www81.tcup.com/8131/1no7h.html">senyou.risuu.chuubu.suika.fam.cx</a>
			</li>
			</ul>
		</li>
		</ul>
	</li>
	<li>
	<code>okuchuu</code>
		<ul>
		<li class="obsolete" id="araiguma.okuchuu.suika.fam.cx">
		<a href="obsolete-list#araiguma.okuchuu.suika.fam.cx">araiguma.okuchuu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="cool.okuchuu.suika.fam.cx">
		<a href="obsolete-list#cool.okuchuu.suika.fam.cx">cool.okuchuu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="furoiran.okuchuu.suika.fam.cx">
		<a href="obsolete-list#furoiran.okuchuu.suika.fam.cx">furoiran.okuchuu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="himajin.okuchuu.suika.fam.cx">
		<a href="obsolete-list#himajin.okuchuu.suika.fam.cx">himajin.okuchuu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="mu.okuchuu.suika.fam.cx">
		<a href="obsolete-list#mu.okuchuu.suika.fam.cx">mu.okuchuu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="mususu.okuchuu.suika.fam.cx">
		<a href="obsolete-list#mususu.okuchuu.suika.fam.cx">mususu.okuchuu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="robamimi.okuchuu.suika.fam.cx">
		<a href="obsolete-list#robamimi.okuchuu.suika.fam.cx">robamimi.okuchuu.suika.fam.cx</a>
		</li>
		<li class="obsolete" id="susumu.okuchuu.suika.fam.cx">
		<a href="obsolete-list#susumu.okuchuu.suika.fam.cx">susumu.okuchuu.suika.fam.cx</a>
		</li>
		</ul>
	</li>
	<li>
	<code>suika</code>
		<ul>
		<li>
		<a href="#announce.suika.suika.fam.cx">announce.suika.suika.fam.cx</a>
		</li>
		<li>
		<a href="#admin.suika.suika.fam.cx">admin.suika.suika.fam.cx</a>
		</li>
		<li>
		<a href="#testers.suika.suika.fam.cx">testers.suika.suika.fam.cx</a>
		</li>
		</ul>
	</li>
	<li>
	<code>tomikou</code>
		<ul>
		<li class="nonsuika">
		<a href="http://www81.tcup.com/8161/tomikoh.html">meyasu.tomikou.suika.fam.cx</a>
		</li>
		<li>
		mori
			<ul>
			<li class="nonsuika">
			<a href="http://www.lucky.org/mk4/cgi-bin/mkboard2.cgi?tomikou">keijiban.mori.tomikou.suika.fam.cx</a>
			</li>
			</ul>
		</li>
		<li>
		seitokai
		        <ul>
			<li class="nonsuika">
			<a href="http://www81.tcup.com/8158/hokushin.html">online.seitokai.tomikou.suika.fam.cx</a>
			</li>
			</ul>
		</li>
		</ul>
	</li>
	</ul>
</li>
</ul>

<div id="FOOTNOTES">

<p id="register_fn1">*1 <code>Suika.fam.cx</code> $B%I%a%$%s3dEv$FA0$O!"(B
$B2>$K(B <abbr>IPv4</abbr> $B%"%I%l%9(B <code>61.201.226.127</code> 
$B$r;HMQ$7$F$$$^$7$?!#<BAu$O$3$N(B <abbr>IPv4</abbr> $B%"%I%l%9$b<uF~$l$k$N$,NI$$$G$7$g$&$,!"(B
$B?7$?$K@8@.$9$kJ8=qEy$K;HMQ$7$F$O(B<em>$B$J$j$^$;$s(B</em>$B!#(B</p>

<p id="FN2">
*2 $B$3$3$G!"(B<q>$B8x3+(B</q>$B$H$O!"$=$NB8:_$,8x3+$5$l$F$$$k$3$H$r0UL#$7$^$9!#(B
$B5-;v$,8x3+$5$l$F$$$k$+H]$+$d!"<+M3$K;22C$G$-$k$+H]$+$O3F%j%9%H$N@bL@$r$4Mw2<$5$$!#(B
</p>

<p id="FN3">
*3 $B0lIt$N(B List-ID $B$O!"%a%$%j%s%0!&%j%9%H$G$O$J$/!"(B WWW 
$B$N7G<(HD$K3dEv$F$i$l$F$$$^$9!#$3$l$O!"7G<(HD$N5-;v$r<+F0E*$KEE;R%K%e!<%9$KEj9F$9$k<B83$G;H$o$l$F$$$^$7$?!#(B
</p>
</div>

<div id="footer">
<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="/admin/" title="$B@>1;7W2h4IM}It(B">$B4IM}It(B</a>
<a href="mailto:admin+suika@suikawiki.org" title="$B@>1;%5!<%P!<!&%a%C%;%$%85!9=4IM}<T$K%a%$%k(B">$BM9JX6ID9(B</a>]
</div>
<div class="update">
2001-06-03, $Date: 2004/04/21 06:20:42 $
</div>
</div>
</body></html>
