<html lang="ja" xml:lang="ja"
  xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B?7$7$$%a%$%k!&%j%9%H$rMQ0U$9$k(B</title>
<link rel="stylesheet" href="/admin/style/common" media="all" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rev="copyright" href="/c/pd" />
<link rel="contents" href="list" />
<link rel="prev" href="obsolete-list" title="$B4{$K1?MQ$5$l$F$$$J$$%a%$%j%s%0!&%j%9%H$N0lMw(B" />
<meta name="author" content="$B<cMU(B" />
</head>
<body>
<h1>$B?7$7$$%a%$%k!&%j%9%H(B (ML) $B$rMQ0U$9$k(B</h1>

<p>$B@>1;%5!<%P!<$r;H$C$F(B ML $B$r$4MxMQ=PMh$^$9!#(B
$B0J2<$N3FMs$K8f5-F~2<$5$$!#@^$jJV$7$4O"Mm$$$?$7$^$9!#(B</p>

<div>
<form class="postmsg" method="post" action="mailto:admin+suika@suikawiki.org" accept-charset="iso-2022-jp, utf-8">
<h2>$B$"$J$?(B ($B4IM}<T(B) $B$K$D$$$F(B</h2>
	<ul>
	<li><input type="hidden" name="subject" value="[NEWML]" />
	<label>$B$*L>A0(B: <input type="text" name="name" value="" /></label></li>
	<li><label>$BEE;R%a%$%k(B: <input type="text" name="mail" value="" /></label></li>
	</ul>

<h2>ML $B$K$D$$$F(B</h2>
	<ul>
	<li><label>$BL>A0(B: <input type="text" name="mlname" value="" /></label></li>
	<li><label>$B4uK>$9$k%"%I%l%9(B: <input type="text" name="mlid" value="" />@suika.fam.cx</label>
		<p>[A-Za-z0-9-._] $B$NJ8;z$+$i$*A*$S2<$5$$!#(B</p></li>
	<li><label>$B4JC1$J@bL@(B: <input type="text" name="mlguide" value="" /></label></li>
	<li><label><input type="checkbox" name="mag" />$B4IM}<T$N$_Ej9F=PMh$k!#(B</label>
		<p>$B=j0b%a%$%k!&%^%,%8%s$G$9!#(B</p></li>
	<li><label><input type="checkbox" name="forsale" />$B>&MQ$KMxMQ$9$k!#(B</label>
		<p>$B$=$l$J$j$NBP2A$rD:$/>l9g$b$4$6$$$^$9!#(B</p></li>
	<li><label><input type="checkbox" name="withcm" />$B9-9p$rF~$l$k!#(B</label>
		<p>$B0lDj0J>e$N9-9p<}F~$,$"$k>l9g!"1?1D$N$?$a$K4v$i$+4sIU4j$$$^$9!#(B ($B@>1;7W2h$G$O9-9p$N$4MQ0U$O$7$F$*$j$^$;$s!#$^$?!"9-9p$rIU2C$9$k;EAH$_$bMQ0U$7$F$$$^$;$s!#(B)</p></li>
	</ul>

<h2>$B8x3+(B</h2>
	<ul>
	<li><label><input type="checkbox" name="anyonepost" checked="checked" />$BC/$G$bEj9F=PMh$k!#(B</label>
		<p>$B$3$N9`L\$,@Z$N>l9g!";22C<T$N$_Ej9F=PMh$^$9!#(B</p></li>
	<li><label><input type="checkbox" name="subscribecmd" checked="checked" />$BC/$G$b;22C=PMh$k!#(B</label>
		<p>$B$3$N9`L\$,@Z$N>l9g!"I,$:4IM}<T$,;22C<T$rEPO?$7$^$9!#(B</p></li>
	<li><label><input type="checkbox" name="web" checked="checked" />Web $B$G5-;v$r8x3+$9$k!#(B</label> (<label><input type="checkbox" name="web_member" />$B;22C<T$N$_$K8BDj!#(B</label>)</li>
	<li><label><input type="checkbox" name="news" checked="checked" />$BEE;R%K%e!<%9$G5-;v$r8x3+$9$k!#(B</label> (<label><input type="checkbox" name="news_member" />$B;22C<T$N$_$K8BDj!#(B</label>)</li>
	</ul>
	
	<p>$BAw?.$5$l$F$b!"<+F0$G$O=hM}$5$l$^$;$s!#@^$jJV$7O"Mm$$$?$7$^$9!#>l9g$K$h$C$F$O!"(B 2,3$BF|$[$I$+$+$k$3$H$b$"$j$^$9!#(B</p>
	<p><input type="submit" value="$BAw$k!#(B" class="readsubmit" tabindex="4" accesskey="P" title="$B2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" /><kbd>P</kbd></p>

<p>$B$&$^$/Aw?.$5$l$J$$>l9g$O!"$*<j?t$G$9$,!"(B
$B5-F~$5$l$?FbMF$rJ#@=$7$F(B <code class="mail">&lt;<a href="mailto:postmaster@suika.fam.cx">postmaster@suika.fam.cx</a>&gt;</code>
$B$^$GAw$C$F$/$@$5$$!#(B</p>
</form>
</div>

<h2>$BL5J]>Z!&L5@UG$(B</h2>

<p>$B@>1;7W2h5Z$S4X78<T$O!"@>1;%5!<%P!<$G1?MQ$5$l$k3F%a%$%k!&%j%9%H$K$D$$$F!"$=$N1?MQ$d<h$j8r$o$5$l$kOCBj$NFbMF$J$I$K4X$7$F0l@Z!"$=$N@UG$$rIi$$7s$M$^$9!#(B</p>

<p>
$B@>1;7W2h4IM}It$O%a%$%j%s%0!&%j%9%H$r0BDj$7$F1?MQ$G$-$k$h$&EXNO$7$^$9$,!"(B
$B$3$l$rJ]>c$9$k$b$N$G$O$"$j$^$;$s!#$^$?!"%a%$%j%s%0!&%j%9%H$N4IM}<T$O!"(B
$B>o$K@>1;7W2h4IM}It$+$i$N9pCN$KCm0U$7!"1?MQ>e$N;X<($K=>$C$F$/$@$5$$!#(B
</p>

<div id="footer">
<div class="navigation">[<a href="/">/</a>
<a href=".">ML</a>] <a href="mailto:admin+suika@suikawiki.org">admin+suika@suikawiki.org</a></div>
<div class="update">2001-08-12, $Date: 2004/04/16 09:11:16 $</div>
</div>
</body></html>
