<html xmlns="http://www.w3.org/1999/xhtml"
  lang="ja" xml:lang="ja">
<head>
<title>$B@>1;;*$G1?MQ$5$l$F$$$?%a%$%j%s%0!&%j%9%H(B</title>
<link rel="prev" href="list" title="$B@>1;;*$G1?MQ$5$l$F$$$k%a%$%j%s%0!&%j%9%H(B" />
<link rel="next" href="make" title="$B?7$7$$%a%$%j%s%0!&%j%9%H$N:n@.(B" />
<link rel="copyright" href="/c/pd" title="$B$3$NJ8=q$N%i%$%;%s%9(B: Public Domain" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="stylesheet" href="/admin/style/common" media="all" />
</head>

<body>
<h1>$B@>1;;*$G1?MQ$5$l$F$$$?%a%$%j%s%0!&%j%9%H(B</h1>

<div class="section" id="ABSTRACT">
<h2>$B35MW(B</h2>
<p>
$B$3$NJ8=q$G$O!"$+$D$F@>1;;*(B (<code>suika.fam.cx</code>)
$B$G1?MQ$5$l$F$$$?%a%$%j%s%0!&%j%9%H$d!"Nr;KE*$JM}M3$G@>1;;*$N(B
<code class="822">List-ID</code> 
$B$,3dEv$F$i$l$J$,$i$b4{$K1?MQ$5$l$F$$$J$$%a%$%j%s%0!&%j%9%H$d7G<(HD$NN`$K$D$$$F>R2p$7$F$$$^$9!#(B
</p>

<p>
$B$3$NJ8=q$K4^$^$l$k>pJs$N$[$H$s$I$O!"3F!9$N%a%$%j%s%0!&%j%9%HEy$,1?MQ$5$l$F$$$?Ev;~$N>pJs$d!"(B
$BGQ;_$5$l$?;~E@$G$N>pJs$G$9!#I,$:$7$b8=:_M-8z$J>pJs$G$"$k$H$O8B$i$J$$$3$H$KFC$K$4Cm0U2<$5$$!#(B
</p>
</div>

<div class="section" id="ML-OKUCHUU">
<h2>$B5l$*$/$A$e!#7O(B($BFf(B)$B%a%$%k!&%j%9%H(B</h2>

<h3 id="araiguma.okuchuu.suika.fam.cx">araiguma</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>araiguma (ID: <code class="List-ID">araiguma.okuchuu.suika.fam.cx</code>)</dd>
<dt>$B7{>O(B</dt>
	<dd>$B5l?^=q<<=8CD!#8@$$J}$rJQ$($l$P@>(BT$B$NM'?M!#(B</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd>$B7{>O$N0UL#$,J,$+$kJ}$,BP>]$G$9!#;22C4uK><T$O(B <a href="mailto:araiguma-ctl@suika.fam.cx?body=subscribe%20your%20name">subscribe <var>$BL>A0(B</var> $B$HK\J8$K=q$$$?%a%$%k$r(B araiguma-ctl@suika.fam.cx $B$KAw?.(B</a>$B$7$F2<$5$$!#(B</dd>
<dt>$BEj9F(B</dt>
	<dd><a href="mailto:araiguma@suika.fam.cx">araiguma@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:araiguma-admin@suika.fam.cx">$B4IM}<T(B</a>$B$O1'DEH~$5$s$G$9!#(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2003$BG/(B1$B7n(B</dd>
	<dd>$B@>1;;*$N4D6-0\9T$KH<$$>CLG!#(B ($BEv;~4{$K5YL2>uBV(B)</dd>
<dt>$BGQ;_8e$N>uBV(B</dt>
        <dd>$B$3$N%a%$%j%s%0!&%j%9%H7O$N%"%I%l%9$K08$F$i$l$?%a%C%;!<%8$O!"(B
	($B85(B)$B4IM}<T$KE>Aw$5$l$^$9!#(B</dd>
</dl>


<h3 id="himajin.okuchuu.suika.fam.cx">$B2K?M%a%$%j%s%0!&%j%9%H(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>$B2K?M%a%$%j%s%0!&%j%9%H(B (ID: <code class="List-ID">himajin.okuchuu.suika.fam.cx</code>)</dd>
	<dd>$B$3$NL>>N$O!"(B<a href="#susumu.okuchuu.suika.fam.cx">$B5l$9!y$`7G<(HD(B</a>$B$G$NC/$+$N2?5$$J$$0l8@$K>!<j$K0x$_$^$7$?!#(B</dd>	
<dt>$B7{>O(B</dt>
	<dd>$B6a67$K$D$$$F(B, $B$=$NB>$N;(CL!#(B</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd>$BBgBN(B1990$BG/Be$N=*$o$j:"$K!"$*$/$A$e!#(B($BFf(B)$B$K4X$o$C$F$$$??MC#$,BP>]$G$9!#4IM}<T$^$G8fO"Mm2<$5$$!#(B</dd>
<dt>$BEj9F(B</dt>
	<dd>
	<a href="mailto:himajin@suika.fam.cx">himajin@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B
	</dd>
<dt>$B2a5n$N5-;v(B</dt>
	<dd><del>$B:#$^$G$N5-;v$O!"(B <a href="himajin/">Web $B$G1\Mw(B</a>$B=PMh$kB>!"EE;R%a%$%k$G<h$j4s$;$k;v$b=PMh$^$9!#(B ($B;22C<T$N$_2DG=(B)</del>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:himajin-admin@suika.fam.cx">$B4IM}<T(B</a> = <a href="/~wakaba/who?">$B<cMU(B</a>$B!#(B</dd>
<dt>$BBP1~?7J9AH(B</dt>
	<dd><del><a href="news://suika.fam.cx/suika.ml.himajin">suika.ml.himajin</a> (ML$B;22C<T$N$_FI$`$3$H$,=PMh$^$9(B)$B!#(B</del></dd>
<dt>$B3+@_(B</dt>
	<dd>2000$BG/(B4$B7n(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2003$BG/(B1$B7n(B</dd>
	<dd>$B@>1;;*$N4D6-0\9T$KH<$$>CLG(B ($BEv;~4{$K5YL2>uBV(B)$B!#(B</dd>
<dt>$BGQ;_8e$N>uBV(B</dt>
        <dd>$B$3$N%a%$%j%s%0!&%j%9%H7O$N%"%I%l%9$K08$F$i$l$?%a%C%;!<%8$O!"(B
	($B85(B)$B4IM}<T$K<+F0E*$KE>Aw$5$l$^$9!#(B</dd>
</dl>

<h3 id="mu.okuchuu.suika.fam.cx">$B!V$`!W%a%$%j%s%0!&%j%9%H(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>$B!V$`!W%a%$%j%s%0!&%j%9%H(B (ID: <code>mu.okuchuu.suika.fam.cx</code>)</dd>
<dt>$B7{>O(B</dt>
	<dd>$B6a67$K$D$$$F(B, $B$=$NB>$N;(CL!#(B</dd>
<dt>$BEj9F(B</dt>
	<dd>
	<a href="mailto:hima@suika.fam.cx">hima@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B
	</dd>
<dt>$B2a5n$N5-;v(B</dt>
	<dd><del>$B:#$^$G$N5-;v$O!"(B <a href="hima/">Web $B$G1\Mw(B</a>$B=PMh$kB>!"EE;R%a%$%k$G<h$j4s$;$k;v$b=PMh$^$9!#(B ($B;22C<T$N$_2DG=(B)</del>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:hima-admin@suika.fam.cx">$B4IM}<T(B</a> = <a href="/~wakaba/who?">$B<cMU(B</a>$B!#(B</dd>
<dt>$B3+@_(B</dt>
	<dd>2000$BG/(B4$B7n(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2003$BG/(B1$B7n(B</dd>
	<dd>$B@>1;;*$N4D6-0\9T$KH<$$>CLG(B ($BEv;~4{$K5YL2>uBV(B)$B!#(B</dd>
<dt>$BGQ;_8e$N>uBV(B</dt>
        <dd>$B$3$N%a%$%j%s%0!&%j%9%H7O$N%"%I%l%9$K08$F$i$l$?%a%C%;!<%8$O!"(B
	($B85(B)$B4IM}<T$K<+F0E*$KE>Aw$5$l$^$9!#(B</dd>
</dl>

<h3 id="mususu.okuchuu.suika.fam.cx">$B$`(B*$B$9%a%$%j%s%0!&%j%9%H(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>$B$`(B*$B$9%a%$%j%s%0!&%j%9%H(B
	(<abbr lang="en" xml:lang="en">ID</abbr>:
	<code class="List-ID">mususu.okuchuu.suika.fam.cx</code>)</dd>
<dt>$BL\E*(B</dt>
	<dd><a href="/~wakaba/-temp/wkchat/chat1">$B$`(B*$B$9Cc(B</a>$B$N3+H/$*$h$S1?MQ!#(B</dd>
<dt>$B3+@_(B</dt>
	<dd>2000$BG/(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2001$BG/(B7$B7n(B</dd>
	<dd><a href="/~wakaba/-temp/wkchat/chat1">$B$`(B*$B$9Cc(B</a>$B$N4D6-0\9T$KH<$$;HMQ$5$l$J$/$J$jGQ;_!#(B</dd>
</dl>

<h3 id="robamimi.okuchuu.suika.fam.cx">$B$m$P<*(B ($B$9!y$`$N<*$O$m$P$N<*(B!) 
$B%a%$%j%s%0!&%j%9%H(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>$B$m$P<*(B ($B$9!y$`$N<*$O$m$P$N<*(B!)
	$B%a%$%j%s%0!&%j%9%H(B (<abbr lang="en" xml:lang="en">ID</abbr>:
	<code class="List-ID">robamimi.okuchuu.suika.fam.cx</code>)</dd>
<dt>$BL\E*(B</dt>
	<dd>$B$m$P<*(B ML $B$O!"Bg@<$G$O8@$($J$$(B($B$+$bCN$l$J$$(B)$B$1$I6+$S$?$$!"$G$bFH$j8@$O6u$72a$.$@$+$iC/$+FI$s$G$/$l$k$H4r$7$$$J$"!&!&!&$J$s$F$$$&?4$N6+$S(B($BFf(B)$B$N$?$a$K@_CV$5$l$^$7$?!#(B</dd>
<dt>$B3+@_(B</dt>
	<dd>2000$BG/=U(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2001$BG/(B7$B7n(B</dd>
	<dd><a href="/~wakaba/documents/news/news" title="$B<cMU$K$h$kEE;R%K%e!<%9$N;H$$J}@bL@$rFI$`!#(B">$BEE;R%K%e!<%9(B</a>$B$N(B <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9!&%j!<%@!<$G(B suika.robamimi $B$rFI$`!#(B"><code class="newsgroup">suika.robamimi</code></a> $B?7@_$KH<$$GQ;_$5$l$^$7$?!#(B</dd>
<dt>$BGQ;_8e$N>uBV(B</dt>
        <dd>$B$3$N%a%$%j%s%0!&%j%9%H7O$N%"%I%l%9$K08$F$i$l$?%a%C%;!<%8$O!"(B
	($B85(B)$B4IM}?M$KE>Aw$5$l$^$9!#(B</dd>
</dl>
</div>

<div class="section" id="ML-CHUUBU">
<h2>$B$A$e!<$V7O(B($BFf(B)$B%a%$%j%s%0!&%j%9%H(B</h2>

<h3 id="chuubu.chuubu.suika.fam.cx">$B$A$e!<$V%a%$%j%s%0!&%j%9%H(B</h3>

<dl>
<dt>$BL>>N(B</dt>
	<dd>$B$A$e!<$V%a%$%j%s%0!&%j%9%H(B (ID: 
	<code class="List-ID">chuubu.chuubu.suika.fam.cx</code>)</dd>
<dt>$B7{>O(B</dt>
	<dd>$B6a67$K$D$$$F(B, $B$=$NB>$N;(CL!#(B</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd>$B4IM}<T$^$G8fO"Mm2<$5$$!#(B</dd>
<dt>$BEj9F(B</dt>
	<dd>
	<a href="mailto:chuubu@suika.fam.cx">chuubu@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B
	</dd>
<dt>$B2a5n$N5-;v(B</dt>
	<dd><del>$B:#$^$G$N5-;v$O!"(B <a href="chuubu/">Web $B$G1\Mw(B</a>$B=PMh$kB>!"EE;R%a%$%k$G<h$j4s$;$k;v$b=PMh$^$9!#(B ($B;22C<T$N$_2DG=(B)</del>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:chuubu-admin@suika.fam.cx">$B4IM}<T(B</a> = $B$U$8$$!#(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2003$BG/=U(B</dd>
	<dd>$BMxMQ$5$l$F$$$J$$$?$aGQ;_!#(B</dd>
<dt>$BGQ;_8e$N>uBV(B</dt>
        <dd><code class="mail">&lt;chuubu@suika.fam.cx&gt;</code> $B$O!"(B
	<a href="http://suika.fam.cx/chuubu/">$B$A$e!<$V$N1;(B</a>$B4IM}<TMQ$K:FMxMQ$5$l$F$$$^$9!#(B</dd>
	<dd>$B$=$NB>$N%a%$%j%s%0!&%j%9%H7O%"%I%l%9$KAw$i$l$?%a%$%k$O!"(B
	$B@>1;;*%a%$%j%s%0!&%j%9%H4IM}<T$KE>Aw$5$l$^$9!#(B</dd>
</dl>

<h3 id="chu.chuubu.suika.fam.cx">$B$A$e!<$V%a%$%j%s%0!&%j%9%H(B ($B7HBSEEOC8~$1(B)</h3>
<dl>
<dt>$BL>>N(B</dt>
	<dd>$B$A$e!<$V%a%$%j%s%0!&%j%9%H(B ($B7HBSEEOC8~$1(B) (ID: 
	<code class="List-ID">chu.chuubu.suika.fam.cx</code>)</dd>
<dt>$B7{>O(B</dt>
	<dd>$B6a67$K$D$$$F(B, $B$=$NB>$N;(CL!#(B</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd>$B4IM}<T$^$G8fO"Mm2<$5$$!#(B</dd>
<dt>$BEj9F(B</dt>
	<dd>
	<a href="mailto:chu@suika.fam.cx">chu@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B</dd>
<dt>$B2a5n$N5-;v(B</dt>
	<dd><del>$B:#$^$G$N5-;v$O!"(B <a href="chu/">Web $B$G1\Mw(B</a>$B=PMh$kB>!"EE;R%a%$%k$G<h$j4s$;$k;v$b=PMh$^$9!#(B ($B;22C<T$N$_2DG=(B)</del>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:chu-admin@suika.fam.cx">$B4IM}<T(B</a> = $B$U$8$$!#(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2003$BG/=U(B</dd>
	<dd>$BMxMQ$5$l$F$$$J$$$?$aGQ;_!#(B</dd>
<dt>$BGQ;_8e$N>uBV(B</dt>
        <dd>$B$3$N%a%$%j%s%0!&%j%9%H7O$N%"%I%l%9$K08$F$i$l$?%a%C%;!<%8$O!"(B
	$B@>1;;*%a%$%j%s%0!&%j%9%H4IM}<T$KE>Aw$5$l$^$9!#(B</dd>
</dl>

<h3 id="WindOrchestra.chuubu.suika.fam.cx">$B?aAU3ZIt$"$l$3$l(B</h3>
<dl>
<dt>$BL>>N(B</dt>
	<dd>$B?aAU3ZIt$"$l$3$l(B (ID: 
	<code class="List-ID">WindOrchestra.chuubu.suika.fam.cx</code>)</dd>
<dt>$B7{>O(B</dt>
	<dd>$BCfIt9b9;?aAU3ZIt$NC/$G$b(BOK$B!#(B</dd>
<dt>$B;22C!&C&B`(B</dt>
	<dd>$B4IM}<T$^$G8fO"Mm2<$5$$!#(B</dd>
<dt>$BEj9F(B</dt>
	<dd>
	<a href="mailto:chubu-WindOrchestra@suika.fam.cx">chubu-WindOrchestra@suika.fam.cx</a> $B$KAw?.$7$F2<$5$$!#(B</dd>
<dt>$B2a5n$N5-;v(B</dt>
	<dd><del>$B:#$^$G$N5-;v$O!"(B <a href="chubu-WindOrchestra/" title="$B!V?aAU3ZIt$"$l$3$l!W$N5-;v0lMw(B">Web $B$G1\Mw(B</a>$B=PMh$kB>!"EE;R%a%$%k$G<h$j4s$;$k;v$b=PMh$^$9!#(B ($B$H$b$K;22C<T$N$_2DG=(B)</del>
	</dd>
<dt>$B4IM}<T(B</dt>
	<dd><a href="mailto:chubu-WindOrchestra-admin@suika.fam.cx">$BF#0f?.0lO/(B</a></dd>
<dt>$BBP1~?7J9AH(B</dt>
	<dd><del><a href="news://suika.fam.cx/suika.ml.chuubu.brass">suika.ml.chuubu.brass</a> (ML$B;22C<T$N$_FI$`$3$H$,=PMh$^$9(B)$B!#(B</del></dd>
<dt>$B3+@_(B</dt>
	<dd>2002$BG/(B</dd>
<dt>$BGQ;_(B</dt>
	<dd>2003$BG/=U(B</dd>
<dt>$BGQ;_8e$N>uBV(B</dt>
        <dd>$B$3$N%a%$%j%s%0!&%j%9%H7O$N%"%I%l%9$K08$F$i$l$?%a%C%;!<%8$O!"(B
	$B@>1;;*$N%a%$%j%s%0!&%j%9%H4IM}<T$K<+F0E*$KE>Aw$5$l$^$9!#(B
	$B99$K!"I,MW$K1~$8$F(B($B85(B)$B4IM}<T$KE>Aw$5$l$^$9!#(B</dd>
</dl>
</div>

<div class="section" id="ML-MISC">
<h2>$B$=$NB>$N%a%$%j%s%0!&%j%9%H(B</h2>

<dl>
<dt><code class="mail">&lt;pbl2-houjinka-members@suika.fam.cx&gt;</code>
    [2003$BG/(B10$B7n!A(B2004$BG/(B2$B7n(B]</dt>
    <dd>$B8=:_!"$3$N%a%$%j%s%0!&%j%9%H$K08$F$i$l$?%a%C%;!<%8$O@>1;;*$N%a%$%j%s%0!&%j%9%H4IM}<T$KE>Aw$5$l$^$9!#(B</dd>
</dl>
</div>

<h2 id="board">$B$+$D$FB8:_$7$F$$$?7G<(HD$J$I$N5-;v(B</h2>

<dl>
<dt id="susumu.okuchuu.suika.fam.cx"><a href="susumu/index">$B$9!z$`7G<(HD(B</a> (ID: susumu.okuchuu.suika.fam.cx)
    [1999$BG/(B10$B7n!A(B?]</dt>
	<dd>1999$BG/(B10$B7n:"$+$i(B tcup server $B$K$"$j!"1|Cf$H7W;;5!!&%M%C%H%o!<%/<R2q$J$I$K4X$9$k;(CL$d5DO@(B($B8XD%EY(B300%)$B$,9T$o$l$^$7$?$,!"(B cool server $B$N7G<(HD$NMxMQ3+;O$KH<$$GQ;_$5$l$^$7$?!#(B ($B=i4|$N5-;v$O;D$C$F$$$^$;$s!#(B)</dd>
<dt id="cool.okuchuu.suika.fam.cx"><a href="cool/index">$B$o$+$P$A$C$/$J$;$+$$!y7G<(HD(B</a> (ID: cool.okuchuu.suika.fam.cx)
    [2000$BG/(B3$B7n!A(B?]</dt>
	<dd>2000$BG/(B3$B7n:"$+$i(B cool $B?73c(B server $B$K$"$j!"1|Cf$H7W;;5!!&%M%C%H%o!<%/<R2q$J$I$K4X$9$k;(CL$d5DO@(B($B8XD%EY(B400%)$B$,9T$o$l$^$7$?$,!"(B RocketBeach server $B$N7G<(HD$NMxMQ3+;O$KH<$$GQ;_$5$l$^$7$?!#(B</dd>
<dt id="furoiran.okuchuu.suika.fam.cx"><a href="furoiran/index">$B<B83MQ7G<(HD(B</a> (ID: furoiran.okuchuu.suika.fam.cx)
    [2000$BG/(B4$B7n!A(B2001$BG/(B3$B7n(B]</dt>
	<dd>2000$BG/(B4$B7n:"$+$i(B RocketBeach person1 server $B$K$"$j!"5l$*$/$A$e!#$H7W;;5!!&%M%C%H%o!<%/<R2q$J$I$K4X$9$k;(CL$d5DO@(B($B8XD%EY(B500%)$B$,9T$o$l$^$7$?$,!"(B<a href="#himajin.okuchuu.suika.fam.cx">$B2K?M(B ML</a> $B$N1?MQ3+;O$KH<$C$F$+$d$,$FGQ$l!"(B 2001$BG/(B3$B7n$N(B RocketBeach person1 server $B$NJD:?$KH<$$GQ;_$5$l$^$7$?!#(B</dd>
<dt>$B$m$P$_$_HrFq=j(B [2003$BG/(B1$B7n!A(B2003$BG/(B8$B7n(B]</dt>
	<dd>$B0l;~E*$KMxMQ$G$-$J$/$J$C$?%K%e!<%9AH(B
	<a href="news:suika.robamimi">suika.robamimi</a>
	$B$NHrFq=j$H$7$FMQ0U$5$l$?7G<(HD$G$9!#L5NA7G<(HD$@$C$?$?$a!"(B
	$B7G<(HDDs6!<T$N7P1DJ}?K$K$h$jGQ;_$5$l$^$7$?!#(B</dd>
</dl>

<div class="footer">
<div class="navigation">
[<a href="/" rel="top">/</a>]
[<a href="/admin/">$B4IM}It(B</a> <a href="/admin/mail/">$BEE;R%a%$%kItLg(B</a>
<a href="/ml/" rel="contents"><abbr lang="en" xml:lang="en"
title="$B%a%$%j%s%0!&%j%9%H(B">ML</abbr></a>]
</div>
</div>
</body>
</html>
