<!---->
<html lang="ja">
<head>
<title lang="en">$B%"%s%F%J(B</title>
<meta name="keywords" content="$B99?7;~9o(B, $BF|5-(B, $B@>1;(B" />
<meta name="keywords" lang="en" content="antenna, diary, watermeron" />
<link rel=author href="/admin/" title=$B@>1;7W2h4IM}It(B>
<link rev="made" href="mailto:wakaba@suikawiki.org" />
<link rel=stylesheet href="/www/style/html/xhtml">
</head>
<body>
<h1>$B@>1;%5!<%P!<$H%"%s%F%J(B</h1>

<div class="fig">

<blockquote cite="http://d.hatena.ne.jp/keyword/%A5%A2%A5%F3%A5%C6%A5%CA" class=fig-body>

<p>$B%$%s%?!<%M%C%H$G!"%&%'%V%Z!<%8$N99?7>u67$r<+F0E*$KD4$Y$k%5!<%S%9$N$3$H!#(B
$B$O$F$J$G$O!V(B<a href="http://a.hatena.ne.jp/">$B$O$F$J%"%s%F%J(B</a>$B!W(B
$B$r;X$9$3$H$,B?$$!#(B

</blockquote>

<div class=credit>
<a href="http://d.hatena.ne.jp/keyword/%A5%A2%A5%F3%A5%C6%A5%CA">$B%"%s%F%J$H$O(B</a>
</div>

</div>

<div class=section id=siteantennas>
<h2>$B@>1;%5!<%P!<Fb$K:_$k%"%s%F%J(B</h2>

<ul>

<li><a href="/www/2004/errata/" lang=en>Errata update information</a>
<li><a href="/www/2004/reg/" lang=en>Registries update information</a>

</ul>

<del>

<dl>
<dt><a href="chuubu/urimikan/"><img src="chuubu/urimikan/favicon" class="favicon" alt="" />$B1;L*4;(B</a></dt>
	<dd><a href="chuubu/"><img src="chuubu/favicon" class="favicon" alt="" />$B$A$e!<$V(B</a>$B4XO"$N%5%$%H$N99?7>pJs!#(B</dd>
<dt><a href="okuchuu/kyuuritomikan/"><img src="okuchuu/kyuuritomikan/favicon" class="favicon" alt="" />$B8U1;$HL*4;(B</a></dt>
	<dd><a href="okuchuu/"><img src="okuchuu/favicon" class="favicon" alt="" />$B5l$*$/$A$e!#(B($BFf(B)</a>$B4XO"$N%5%$%H$N99?7>pJs!#(B</dd>
</dl>

</del>
</div>

<del>

<h2>$B@>1;%5!<%P!<Fb$K$"$k;q8;$N99?7>pJs(B</h2>

<p>$B@>1;%5!<%P!<Fb$N99?7>pJs%U%!%$%k$N0lMw$G$9!#(B<a href="http://amano.haun.org/LIRS.html"><acronym lang="en" title="Last modified Information Relaying Specification">LIRS</acronym></a>$B7A<0$KBP1~$7$?99?7>pJs<hF@(B <acronym title="User Agent" lang="en">UA</acronym> $B$G8fMxMQD:$1$^$9!#(B</p>

<dl>
<dt><a href="updatetime.lirs"><img src="favicon" class="favicon" alt="" />/updatetime.lirs</a></dt>
	<dd>$B@>1;%5!<%P!<Fb$N(B CGI $B@8@.;q8;$J$I$N99?7>pJs!#@>1;%5!<%P!<Fb$G;~9o$r@5>o$K<hF@=PMh$J$$;q8;$,$"$k>l9g!"$3$l$r8f;n$72<$5$$!#(B</dd>
<dt><a href="chuubu/urimikan/natsumican.lirs.gz"><img src="chuubu/urimikan/favicon" class="favicon" alt="" />/chuubu/urimikan/natsumican.lirs.gz</a></dt>
	<dd>$B!V1;L*4;!W$N$?$a$N$A$e!<$V4XO"$N%5%$%H$N99?7>pJs!#(B</dd>
<dt><a href="okuchuu/kyuuritomikan/natsumican.lirs.gz"><img src="okuchuu/kyuuritomikan/favicon" class="favicon" alt="" />/okuchuu/kyuuritomikan/natsumican.lirs.gz</a></dt>
	<dd>$B!V8U1;$HL*4;!W$N$?$a$N5l$*$/$A$e!#(B($BFf(B)$B4XO"$N%5%$%H$N99?7>pJs!#(B</dd>
</dl>

<h2>$B@>1;%5!<%P!<$G%"%s%F%J$r@_CV$9$k;~$O(B</h2>

<p>$B%"%s%F%J$O@>1;%5!<%P!<$d>pJs<hF@@h$N%5!<%P!<$J$I$KBg$-$JIiC4$r3]$1$^$9!#$=$N0Y!"@>1;%5!<%P!<$G$O>pJs99?7;~9o$ND4@0$J$I$r9T$C$F$$$^$9!#(B</p>
<p>$B@>1;%5!<%P!<$G?75,$K%"%s%F%J$r@_CV$7$?$$>l9g$O!"(B<a href="mailto:wakaba@suikawiki.org"><img src="~wakaba/favicon" class="favicon" alt="" />$B$o$+$P(B</a>$B$^$G8fAjCL2<$5$$!#(B</p>

</del>

<div class=section id=tama>
<h2>$B%"%s%F%J$K;H$C$F$$$k%=%U%H%&%'%"(B</h2>

<p>$B@>1;;*$G8=:_1?MQ$7$F$$$k%"%s%F%J$O!"!V$?$^$F$P$3!W(B1.1.66
$B$K2~NI$r2C$($?%7%9%F%`$r;H$C$F$$$^$9!#$=$N%=!<%9%3!<%I$O(B git 
$B$G4IM}$5$l$F$*$j!"(B<a href="/gate/git/wi/web/tama.git">Web 
$B$+$i1\Mw!&F~<j$9$k$3$H$b$G$-$^$9(B</a>$B!#$"$k$$$O!"(B

<p><code>$ <kbd>git clone https://suika.suikawiki.org/gate/git/bare/web/tama.git</kbd></code>

<p>... $B$H(B git clone $B$G$-$^$9!#(B

<p>$BK\2H$+$i$NJQ99E@$O(B<a href="/gate/git/wi/web/tama.git/blob/HEAD:/README-mod.ja">$B%I%-%e%a%s%H(B</a>$B$r$4;2>H$/$@$5$$!#(B

</div>

<div class=footer>
[<a href="/">/</a> <a href="/map">$BCO?^(B</a>]
[<a href="/admin/">$B@>1;7W2h4IM}It(B</a>]
</div>
