<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B@>1;(B Web $B%5!<%P!<$ND;bW?^(B</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suika.suikawiki.org" />
<link rel="copyright" href="/c/pd" />
<meta name="author" content="$B<cMU(B" />
</head>
<body>
<h1><a href="admin/"><img class="minilogo" src="/admin/logo" alt="$B@>1;7W2h(B" /></a> $BD;bW?^(B</h1>

<h2 id="general">$B0lHL6h2h(B</h2>

<ul>
	<li><dl><dt><a href="suika"><img src="favicon" class="favicon" alt="" />$B$9$$$+(B</a></dt>
		<dd>$B$3$A$i$,@>1;(B Web $B%5!<%P!<$NF~$j8}$H$J$C$F$*$j$^$9!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~utubi/">$B1'DEH~(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="antenna"><img src="/chuubu/urimikan/favicon" class="favicon" alt="" />$B%"%s%F%J(B</a></dt>
		<dd>$B@>1;(B Web $B%5!<%P!<$N%"%s%F%J5!9=$N0lMw!&@bL@$H!"30It$+$i$N99?7>pJs$N<hF@$K$D$$$F!#(B ($B4IM}<T(B: <a href="/~wakaba/">$B<cMU(B</a>)</dd>
	</dl></li>
	<li><dl><dt><a href="~utubi/">$B$&$D$S;3$NCfJ"(B</a></dt>
		<dd>$B1'DEH~$N;3$NCfJ"$K$"$k=h$G$9!#(B ($B4IM}<T(B: <a href="/~utubi/">$B1'DEH~(B</a>)</dd>
	</dl></li>
	<li><dl><dt><a href="chuubu/"><img src="chuubu/favicon" class="favicon" alt="" />$B$A$e!<$V$N1;(B</a></dt>
		<dd>$BIY;38)N)IY;3CfIt9bEy3X9;(B ($BDL>N!V$A$e!<$V!W(B) $B$K4X$9$k;qNA$J$I$NCV$->l!#(B ($B4IM}<T(B: <a href="/~wakaba/">$B<cMU(B</a>)</dd>
		<ul>
		<li><dl><dt><a href="chuubu/2000/1-7/">2000$BG/EY(B1$BG/(B7$B%[!<%`(B</a></dt>
			<dd><p>$BIY;38)N)IY;3CfIt9bEy3X9;$N(B2000$BG/EY$N(B
			1$BG/M}?t2J$K4X$9$k;qNA$J$I$NCV$->l!#(B</p></dd></dl></li>
		<li><dl><dt><a href="chuubu/2001/2-7/">2001$BG/EY(B2$BG/(B7$B%[!<%`(B</a></dt>
			<dd><p>$BIY;38)N)IY;3CfIt9bEy3X9;$N(B2001$BG/EY$N(B
			2$BG/M}?t2J$K4X$9$k;qNA$J$I$NCV$->l!#(B</p>
			<ul>
			<li><dl><dt><a href="chuubu/2001/2-7/fuyu/">$BBh(B55$B4|M}?t2J$N%&%'%V%5%$%H(B ($B%_%i!<(B)</a></dt>
				<dd><p>$BIY;38)N)IY;3CfIt9bEy3X9;$N(B
				$BBh(B55$B4|M}?t2J$N%&%'%V%5%$%H$N(B
				$B%_%i!<%5%$%H!#F|K\;~4V$N?<Lk$K(B
				$BK\2H$K$"$o$;$F99?7$5$l$^$9!#(B</p></dd></dl></li>
			</ul>
			</dd></dl></li>
		</ul>
	</dl></li>
	<li><dl><dt><a href="okuchuu/"><img src="okuchuu/favicon" class="favicon" alt="" />$BEA@b$N$*$/$A$e!#(B</a></dt>
		<dd>$BIY;3;TN)1|EDCf3X9;(B ($BDL>N!V$*$/$A$e!#!W(B) $B$N8x<0!&Hs8x<0$N(B Web $BJG$d3F<o5-O?(B, $B;29M;qNA$J$I!#(B ($B4IM}<T(B: $B!XEA@b$N$*$/$A$e!#!Y%A!<%`(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
		<ul>
		<li><dl><dt><a href="okuchuu/blue-oceans/">Okuda Blue Oceans</a></dt>
			<dd><p>$BIY;3;TN)1|EDCf3X9;$N?aAU3ZIt(B BlueOceans
			$B$N8x<0%&%'%V%5%$%H!#?aAU3ZIt$NBg2q=P>lM=Dj(B,
			$B7k2LJs9p$J$I$,8fMw$K$J$l$^$9!#(B
			($B4IM}<T(B: Okuda Blue Oceans [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</p></dd></dl></li>
		</ul>
	</dl></li>
	<li><dl><dt><a href="ml/"><img src="icons/mail" alt="" />$B%a%$%k!&%j%9%H(B</a></dt>
		<dd>$B@>1;%5!<%P!<$rMxMQ$7$F1?1D$5$l$F$$$k%a%$%k!&%j%9%H(B (ML) $B$K$D$$$F$N$*CN$i$;$d!"J]4I$5$l$F$$$k5-;v$J$I!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="~wakaba/"><img src="~wakaba/favicon" class="favicon" alt="" />$B<cMUE*@$3&(B</a></dt>
		<dd>$B<cMU$N8D?ME*$JJ*IJ$J$I!#$"$k$$$O$4$_CV$->l!#(B ($B4IM}<T(B: <a href="/~wakaba/">$B<cMU(B</a>)</dd>
	</dl></li>
</ul>

<h2 id="web">Web $B%5!<%P!<6h2h(B</h2>

<ul>
	<li><dl><dt><a href="default.ida?log=1">default.ida</a></dt>
		<dd>2001 $BG/$KHK?#$7$?%o!<%`(B CodeRed $B$H$=$NJQ<o$K4X$9$k@>1;%5!<%P!<$NBP1~$K$D$$$F!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="favicon"><img src="favicon" class="favicon" alt="" />favicon</a></dt>
		<dd>$B0lIt$N;k3PE*(B User Agent $B$G;H$o$l$k!">.$5$J%m%42hA|$N!"@>1;(B Web $B%5!<%P!<$N4{DjCM!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="icons/"><img src="icons/unknown"  alt="" />icons/</a></dt>
		<dd>$B%G%#%l%/%H%j$N%U%!%$%k0lMw$J$I$G;HMQ$5$l$k>.$5$J3($NCV$->l!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="robots.txt"><img src="icons/link"  alt="" />robots.txt</a></dt>
		<dd>Web $B%m%\%C%H$NF0:n$K4X$o$k>pJs$rDs6!$9$k!#8=:_;H$o$l$F$$$J$$!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="updatetime"><img src="icons/sphere1"  alt="" />updatetime</a></dt>
		<dd>$B@>1;(B Web $B%5!<%P!<Fb$N4v$D$+$N;q8;$N99?7>pJs$rDs6!$9$k!#(B<a href="antenna">$B%"%s%F%J5!9=(B</a>$B$J$I$N0lIt$N(B Web $B%m%\%C%H$K$h$j;HMQ$5$l$k!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="uri-res/"><img src="icons/world1" alt="" />uri-res/</a></dt>
		<dd>URI (URL $B$d(B URN) $B$J$I$K4X$9$k4IM}>pJs$d!"(B HTTP $B$rMxMQ$7$?2r7h4o$J$I$rDs6!$7$F$$$^$9!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="search/"><img src="icons/search" alt="" />$B8!:w(B</a></dt>
		<dd>$B@>1;(B Web $B%5!<%P!<Fb$N;q8;$,8!:w=PMh$^$9!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~wakaba/">$B<cMU(B</a>])</dd>
	</dl></li>
</ul>

<h2 id="suika">$B@>1;7W2h4IM}6h2h(B</h2>

<ul>
	<li><dl><dt><a href="admin/"><img src="favicon" class="favicon" alt="" />$B@>1;7W2h4IM}It(B</a></dt>
		<dd>$B@>1;%5!<%P!<$N4IM}!&1?1D$r;J$kItLg!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~utubi/">$B1'DEH~(B</a>])</dd>
	</dl></li>
	<li><dl><dt><a href="news">$B:G?7>pJs(B</a></dt>
		<dd>$B@>1;%5!<%P!<A4BN$K4X$o$k$*$7$i$;$J$I!#(B ($B4IM}<T(B: $B@>1;7W2h(B [$BC4Ev(B <a href="/~utubi/">$B1'DEH~(B</a>])</dd>
	</dl></li>
</ul>

<address>
[<a href="/">/</a>]
</address>
<div class="update">2001-09-23
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid HTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=https://suika.suikawiki.org/map.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
