<!DOCTYPE html SYSTEM>
<html lang="ja" xml:lang="ja">
<Head>
<Title>$B:G?7>pJs(B</Title>
<link rel="stylesheet" href="https://suika.suikawiki.org/admin/style/common" />
<Meta name="author" content="Joe Utubi" />
<Meta name="description" content="$B@>1;7W2h$d@>1;%5!<%P!<$G$N<g$J=PMh;v$r$*CN$i$;$7$^$9!#(B" />
<Meta name="keywords" content="$B@>1;7W2h(B, $B$*CN$i$;(B, $B:G?7>pJs(B" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
</Head>

<BODY>

<!--$B@>1;7W2h(Bmember$B%m%4(B-->
<h3><a href="/">
<img src="/admin/logo/suikalogo.png" alt="Suika Project" />
Suika Project</a></h3>
<!--$B$3$3$^$G(B-->

<!-- list-src.html.u8 $B$K99?7F|;~$"$j(B -->

<section id=d2022-09-18 class=section>
  <h2><time datetime=2022-09-18>$BNaOB(B4$BG/(B9$B7n(B18$BF|(B</time></h2>

  <p>$B5l%I%a%$%sL>(B <code>suika.fam.cx</code>
  $B$O%I%a%$%sL>Ds6!;v6H<T$N%5!<%S%9Dd;_$KH<$$!"(B
  $BMxMQ$G$-$J$/$J$j$^$7$?!#(B
  Web$B!"%a!<%k!"$=$NB>$9$Y$F$N%5!<%S%9$G5l%I%a%$%s$OMxMQ$G$-$^$;$s!#(B

  <p>$B%I%a%$%sL>(B <code>suika.suikawiki.org</code>
  $B$O:#8e$H$b(B Web $B%5!<%P!<$X$N%"%/%;%9$KMxMQ$G$-$^$9!#(B

  <p>$B>\$7$/$O(B
  <a href=https://wiki.suikawiki.org/n/suika.fam.cx>SuikaWiki :
  suika.fam.cx</a> $B$r$4;2>H$/$@$5$$!#(B

  <hr>

  <p>$B<!$N3F%Z!<%8$O?7%5!<%P!<$K0\E>$7$^$7$?!#(B
  
  <ul>
  <li><a href="/gate/2007/html/">WebHACC ($B5l%P!<%8%g%s(B)</a>
  <li><a href="/chuubu/tool/kanzan/">$BG[E@49;;(B</a>
  <li><a href="/gate/2007/schema/schema/list/tag.html" lang=en>Schemas</a>
  <li><a href="/~wakaba/test/web/" lang=en>tests-web</a>
  <li><a href="/~wakaba/ssmchat/">$B$`(B*$B$9Cc(B</a>
  <li><a href="/gate/test-results/list/" lang=en>Test results</a>
  </ul>
  
</section>

<div id=d2015-12-21 class=section>
<h2><time datetime=2015-12-21>2015$BG/(B12$B7n(B21$BF|(B</time></h3>

<p>Web $B%5!<%P!<(B <a href="https://suika.fam.cx/">suika.fam.cx</a>
$B$*$h$S(B <a href="https://suika.suikawiki.org/">suika.suikawiki.org</a>
$B$,(B HTTPS $B$GMxMQ$G$-$k$h$&$K$J$j$^$7$?!#:#8e$O(B <code>http:</code> URL
$B$N$+$o$j$K(B <code>https:</code> URL $B$r$*;H$$$/$@$5$$!#(B

</div>

<div id=d2015-11-08 class=section>
<h2><time datetime=2015-11-08>2015$BG/(B11$B7n(B8$BF|(B</time></h3>

<p>Web $B%5!<%P!<(B <a href="http://suika.fam.cx/">suika.fam.cx</a>
$B$*$h$S(B <a href="http://suika.suikawiki.org/">suika.suikawiki.org</a>
$B$O?74D6-$K0\E>$7$^$7$?!#<!$K<($9$b$N$r=|$-!"=>Mh$N%Z!<%8$d%5!<%S%9$O0z$-B3$-Ds6!$7$F$$$^$9!#(B
($BLdBj$,@8$8$F$$$l$P!"(B<a href=mailto:admin@suikawiki.org>$B4IM}<T(B</a>$B$^$G$*CN$i$;$/$@$5$$!#(B)

<p>$B<!$N%Z!<%8$d%5!<%S%9$O!"JL%5!<%P!<$K0\E>$7$^$7$?!#(B
  <ul>
  <li><a href="https://webhacc-old.herokuapp.com/">WebHACC ($B5l%P!<%8%g%s(B)</a>
  <li><a href="https://kanzan.herokuapp.com/">$BG[E@49;;(B</a>
  <li><a href="https://htmldtdarchive.herokuapp.com/list/tag.html" lang=en>Schemas</a>
  <li><a href="https://webtests.herokuapp.com/" lang=en>tests-web</a>
  <li><a href="https://ssmchat.herokuapp.com/">$B$`(B*$B$9Cc(B</a>
  <li><a href="https://testresultlist.herokuapp.com/" lang=en>Test results</a>
  </ul>

<p><a href=/admin/cvs#melon-git-pub>Git $B%j%]%8%H%j!<(B</a>$B$O!"(B 
GitHub $B$d(B BitBucket $B$K0\E>$7$^$7$?!#5l(B URL $B$O?7%j%]%8%H%j!<$X%j%@%$%l%/%H$5$l$^$9!#(B

</div>

<div id=d2013-01-22 class=section>
<h2><time datetime=2013-01-22>2013$BG/(B1$B7n(B22$BF|(B</time></h3>

<p>Web $B%5!<%P!<(B <a href="http://suika.fam.cx/">suika.fam.cx</a>
$B$O?7%I%a%$%s(B <a href="http://suika.suikawiki.org/">suika.suikawiki.org</a>
$B$G$b%"%/%;%9$G$-$k$h$&$K$J$j$^$7$?!#:#8e$O?7%I%a%$%s$r;H$&$3$H$r$*$9$9$a$7$^$9!#(B

</div>

<div id=d2012-02-11 class=section>
<h2><time datetime=2012-02-11>2012$BG/(B2$B7n(B11$BF|(B</time></h2>

<p>$BK\F|!"$9$Y$F$N;*5!G=$N(B suika $B;*$+$i(B melon $B;*$X$N0\E>$r40N;$7$^$7$?!#(B
(<a href="/admin/newsrelease/2012/0211">$B@>1;7W2h4IM}It$+$i$N$*CN$i$;(B</a>)
</div>

<div id=d2012-01-21 class=section>
<h2><time datetime=2012-01-21>2012$BG/(B1$B7n(B21$BF|(B</time></h2>

<p>$BK\F|!"@>1;(B Web $B;*$NBgItJ,$N(B Web $BJG$r(B suika $B;*$+$i(B melon
$B;*$K0\E>$7$^$7$?!#(B
</div>

<div id=d2009-04-12 class=section>
<h2>2009$BG/(B4$B7n(B12$BF|(B</h2>

<p>4$B7n(B25$BF|Ck:"$h$j!"(B
$B@>1;;*$,@\B3$5$l$F$$$k%M%C%H%o!<%/2s@~Ey$N9);v$NET9g>e!"(B
$B30It$h$j@>1;;*$K@\B3$G$-$J$/$J$j$^$9!#?t;~4V$GI|5l$9$kM=Dj$G$9$,!"(B
$B>l9g$K$h$C$F$O?tF|4V@\B3$G$-$J$$>uBV$,B3$/2DG=@-$b$"$j$^$9!#(B Web$B!"(B
$BEE;R%a%$%k$r4^$a$?@>1;;*$NA4%5!<%S%9$,MxMQ$G$-$J$/$J$j$^$9!#(B
$BM=$a$4N;>5$/$@$5$$!#(B</p>

</div>

<div id=d2009-03-24 class=section>
<h2>2009$BG/(B3$B7n(B24$BF|(B</h2>

<del>
<p>$BL@F|!&(B3$B7n(B25$BF|$h$j?tF|4V!"(B
$B@>1;;*$,@\B3$5$l$F$$$k%M%C%H%o!<%/2s@~Ey$N9);v$NET9g>e!"(B
$B30It$h$j@>1;;*$K@\B3$G$-$J$/$J$j$^$9!#(B Web$B!"(B
$BEE;R%a%$%k$r4^$a$?@>1;;*$NA4%5!<%S%9$,MxMQ$G$-$J$/$J$j$^$9!#(B
$BM=$a$4N;>5$/$@$5$$!#(B</p>
</del>

<p>$B>e5-2s@~9);v$O1d4|$K$J$j$^$7$?!#(B</p>

</div>

<div id=d2008-11-03 class=section>
<h2>2008$BG/(B11$B7n(B3$BF|(B</h2>

<p>4$BG/$V$j$K(B<a href="/">$B%H%C%WJG(B</a>$B$r99?7$7$^$7$?!#(B
$B$3$N(B4$BG/$N$&$A$KDI2C$5$l$?@>1;;*>e$NFbMF$X$N%j%s%/$rDI2C$7$^$7$?!#(B
$B$^$?!"(B <a href="http://suika.fam.cx/gate/2005/sw/">SuikaWiki</a>
$B$+$iFbMF$,K-IY$J5-;v$r?tE@>R2p$9$k$3$H$K$7$^$7$?!#(B

</div>

<div id="d2004-10-30" class="section">
<h2>2004$BG/(B10$B7n(B30$BF|(B</h2>

<p>
<q>$B%a%s%F%J%s%9Ey(B</q>$B$O=*N;$7$^$7$?!#$46(NO$"$j$,$H$&$4$6$$$^$7$?!#(B
</p>
</div>

<div id="d2004-10-24" class="section">
<h2>2004$BG/(B10$B7n(B24$BF|(B</h2>

<p>
$B:#8e0l=54VDxEY!"%a%s%F%J%s%9Ey$N$?$a0zB3$-@>1;;*$NA4%5!<%S%9$rCGB3E*$KDd;_$5$;$^$9!#(B
</p>
</div>

<div id="d2004-10-23" class="section">
<h2>2004$BG/(B10$B7n(B23$BF|(B</h2>

<p>
$BL@F|(B (24$BF|(B)$B!"%a%s%F%J%s%9Ey$N$?$a!"@>1;;*$NA4%5!<%S%9$rDd;_$5$;$kM=Dj$G$9!#(B
</p>
</div>

<div id="d2004-03-03" class="section"><h2>2004$BG/(B3$B7n(B3$BF|(B</h2>
<ul>
<li><a href="/admin/newsrelease/2004/0303">Suika $B%5!<%P!<>c32Js9p(B</a>
        $B!=(B by <a href="/admin/">$B@>1;7W2h4IM}It(B</a></li>
</ul></div>

<div id="d2003-11-20"><h2>2003$BG/(B11$B7n(B20$BF|(B</h2>
<ul>
<li><a href="/admin/newsrelease/2003/1120">Suika $B%5!<%P!<>c32Js9p(B</a>
        $B!=(B by <a href="/admin/">$B@>1;7W2h4IM}It(B</a></li>
</ul></div>

<div id="d2003-11-19"><h2>2003$BG/(B11$B7n(B19$BF|(B</h2>
<ul>
<li><a href="/admin/newsrelease/2003/1119">Suika $B%5!<%P!<>c32Js9p(B</a>
        $B!=(B by <a href="/admin/">$B@>1;7W2h4IM}It(B</a></li>
</ul></div>

<div id="d2003-08-15"><h2>2003$BG/(B8$B7n(B15$BF|(B</h2><ul>
        <li><a href="/admin/cvs/2003/0815-www-gw">Suika CVS $B%5!<%P!<(B WWW $B4XLg8x3+:F3+$N$*CN$i$;(B</a>
        $B!=(B by <a href="/admin/cvs/">Suika CVS $B%5!<%P!<4IM}<T(B</a></li>
</ul></div>

<div id="d2003-07-18"><h2>2003$BG/(B7$B7n(B18$BF|(B</h2><ul>
	<li><a href="/admin/news/announce/suika/2003/0718">suika.fam.cx news server $B5Z$S(B suika.* newsgroup $B$K$D$$$F$N$40FFb(B</a>
	$B!=(B by <a href="/admin/news/">suika $B%K%e!<%9!&%5!<%P!<4IM}<T(B</a></li>
</ul></div>

<div>
<h2>11$B7n(B10$BF|(B</h2>
<ul>
<li><a href="ne20011110.html">$B$9$$$+2s@~A}6/5Z$S%5!<%S%9:F3+!"(B<br />
$B$D$$$G$K$a$m$s%5!<%S%93+;O!#(B</a></li>
</ul>
</div>

<div>
<h2>9$B7n(B2$BF|(B</h2>
<ul>
<li><a href="ne0902.html">$B$9$$$+%5!<%t%!!<$N%5!<%S%90l;~Dd;_$N8fCN$i$;(B</a></li>
</ul>
</div>

<div>
<h2>8$B7n(B1$BF|(B</h2>
<ul>
<li><a href="ne0810.html">DDNS$BB&%5!<%P!<ITD4$K$h$k(Bsuika.fam.cx$B@\B3ITD4$N8fCN$i$;(B</a></li>
</ul>
</div>

<div>
<h2>8$B7n(B1$BF|(B</h2>
<ul>
<li><a href="ne0801-2.html">$B$^$?$^$?$F$$$7$N$*$7$i$;(B</a>$B!#:#EY$O(BApache$B4X78!#(B($B7h$7$FJF73%X%j$G$O$"$j$^$;$s$h(B)</li>
</ul>
</div>

<div>
<h2>8$B7n(B1$BF|(B</h2>
<ul>
<li><a href="ne0801.html">$B$^$?$^$?$F$$$7$N$*$7$i$;(B</a>$B!#:#EY$O%a%b%jA}@_$H$+kp$C$A$c$$$^$9!#(B</li>
</ul>
</div>

<div id="d20010529">
<h2>5$B7n(B29$BF|(B</h2>
<ul>
<li><a href="news-2001-06-23.html">$B%5!<%P!<@\B3ITG=$K$J$k$+$b$7$l$J$$$H$$$&$*$7$i$;(B($BFf(B)</a>$B!#35MW(B: $B>eN.2s@~$N9);v$K$h$j(B 6$B7n(B29$BF|(B, 7$B7n(B6$BF|(B $B$K@>1;%5!<%P!<$K@\B3=PMh$J$/$J$k2DG=@-$,$"$j$^$9!#(B</li>
</ul>
</div>

<div>
<h2>5$B7n(B29$BF|(B</h2>
<ul>
<li>$B@>1;(B Web $B%5!<%P!<Fb$N(B <a href="search/">$B8!:w5!9=(B</a>$B$,MQ0U$5$l$^$7$?!#8!:w9)%s%8%s(B($BFf(B)$B$K$O(B <a href="http://www.namazu.org/">namazu</a> $B$rMxMQ$7$F$$$^$9!#(B</li>
<li>$B0l8@(B: $B$3$N:G?7>pJsMs!"J|CV$5$l$,$A$J5$$,$9$k!#L$$@$K<jF099?7$@$b$s$J!#C/$+!"<+F02=$7$F2<$5$$$h!<!#$C$F!"F|5-5!9=$O<cMU$N;E;v$+(B;</li>
</ul>
</div>

<div id="d20010526">
<h2>5$B7n(B26$BF|(B</h2>
<ul>
<li><a href="news-20010526.html">$B@>1;%5!<%P!<$NDd;_M=9p$,H/I=(B</a>$B$5$l$^$7$?!#(B ($B35MW(B: $BF|K\;~4V(B 2001$BG/(B6$B7n(B9$BF|$K%5!<%P!<$,0l;~Dd;_$7$^$9!#(B)</li>
</ul>
</div>


<div id="d20010513">
<h2>5$B7n(B13$BF|(B</h2>
<ul>
<li>$B@>1;%5!<%P!<Fb$G(B<a href="antenna">$B%"%s%F%J(B</a>$B$NA`6H(B($BFf(B)$B$,3+;O$5$l$^$7$?!#(B</li>
</ul>
</div>

<div id="d20010512">
<h2>5$B7n(B12$BF|(B</h2>
<ul>
<li><a href="/~utubi/">$B$&$D$S;3$NCfJ"(B</a>$B$,?7@_$5$l$^$7$?!#(B</li>
<li>6$BF|$+$i%5!<%P!<$O>c32$K$h$jDd;_$7$F$$$^$7$?$,!"K\F|(B HTTP $B$,I|3h$7$^$7$?!#(B</li>
</ul>
</div>


<div id="d20010505">
<h2>5$B7n(B5$BF|(B</h2>
<ul>
<li>Web (HTTP) $B$N%5!<%P!<$,K\3J1?MQ$r3+;O$7$^$7$?!#(B</li>
<li><a href="/chuubu/uri">$B$A$e!<$V$N1;(B</a>($BFf(B)$B$,I|3h$7$^$7$?!#(B</li>
</ul>
$BA4LL2~D{(B<Br />
$B%5!<%P;OF0(B<Br />
$B7W2hAm;OF0(B<Br /><Br />
</div>

<div id="d20010504">
<h2>5$B7n(B4$BF|(B</h2>
<ul>
<li>$BEE;R%K%e!<%9(B (NNTP) $B$N%5!<%P!<$,;n831?MQ$r3+;O$7$^$7$?!#(B</li>
<li>Web (HTTP) $B$N%5!<%P!<$,;n831?MQ$r3+;O$7$^$7$?!#(B</li>
<li>FTP $B$N%5!<%P!<$,1?MQ$r3+;O$7$^$7$?!#(B</li>
</ul>
</div>

<h2>4$B7n(B5$BF|(B</h2>
$BNA6bI=2~Dj(B<BR />
$B7W2h35MW2~JQ(B<BR /><BR />


<h2>4$B7n(B4$BF|(B</h2>
$B$9$$$+G@2H$N;E;v?M0lMw40@.(B<BR />
$B$9$$$+I.F,<h0zLd200lMw40@.(B<BR /><BR />

<h2>4$B7n(B3$BF|(B</h2>
$B0lItDI2C!"I=;f2~JQ(B<BR /><BR />

<h2>4$B7n(B2$BF|(B</h2>
$B0lIt(B($B35MW(B)$B2~JQ(B<BR /><BR />

<h2>4$B7n(B1$BF|(B</h2>
$B$9$$$+%5%$%H(B($B2>(B)$B40@.(B<BR /><BR />

<div id="note">
<ul>
	<li>suika $B%5!<%P!<4XO"$N$*$7$i$;$r7G:\$7$F$$$^$9!#(B
	$B7G:\$7$FM_$7$$;~$O!"F|IU$HJ8>O$r(B
	<code class="mail">&lt;<a href="mailto:admin+suika@suikawiki.org">admin+suika@suikawiki.org</a>&gt;</code>
	$B$^$G$*Aw$j2<$5$$!#(B</li>
</ul>
</div>

</BODY>
</html>
