<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
  <title>$B@>1;(B URN $B2r7h4o(B (Ajax $BHG(B)</title>
  <link rev="made" href="mailto:admin+suika@suikawiki.org" />
  <meta name="author" content="$B@>1;7W2h4IM}ItEPO?L>78(B" />
  <link rel="copyright" href="/c/pd" />
  <link rel="stylesheet" href="/admin/style/common" media="all" />
  <link rel="stylesheet" href="/www/style/ui/toc-after-abstract" media="all" />
  <link rel="up" href="../N2L" title="URN $B"*(B URL $B2r7h4o(B" />

  <script type="application/x-javascript"
      src="/www/2005/uri-resolver/SimpleURIResolver.js"></script>
  <script type="application/x-javascript">
    var NS_XHTML1 = 'http://www.w3.org/1999/xhtml';
    document.suikaURNResolver = new SimpleURIResolver ();
    document.suikaURNResolver.addMappingTableURI
      ('urn:x-suika-fam-cx:',
       'https://suika.suikawiki.org/admin/assign/urn-x-suika-fam-cx.map');

      window.addEventListener ('load', function () {
        document.getElementById ('AJAX-ORIGINAL-URI').onchange = function () {
          var origURI = this.value;
          var r2 = document.suikaURNResolver.resolve (origURI, true);
          var r1 = document.suikaURNResolver.resolve (origURI, false);
          if (r1) {
            var con = document.getElementById ('AJAX-RESULT-PRIMARY');
            con.textContent = '';
            con.innerText = '';
            var code = con.appendChild (document.createElementNS
                                          (NS_XHTML1, 'code'));
            code.className = 'URI';
            code.appendChild (document.createTextNode
                                          (decodeURIComponent ('%3C')));
            var a = code.appendChild (document.createElementNS (NS_XHTML1, 'a'));
            a.href = r1;
            a.textContent = r1;
            a.innerText = r1;
            code.appendChild (document.createTextNode ('>'));
          } else {
            var con = document.getElementById ('AJAX-RESULT-PRIMARY');
            con.textContent = '($B$J$7(B)';
            con.innerText = '($B$J$7(B)';
          }
          if (r2) {
            var con = document.getElementById ('AJAX-RESULT-SECONDARY');
            con.textContent = '';
            con.innerText = '';
            var code = con.appendChild (document.createElementNS
                                          (NS_XHTML1, 'code'));
            code.className = 'URI';
            code.appendChild (document.createTextNode
                                          (decodeURIComponent ('%3C')));
            var a = code.appendChild (document.createElementNS (NS_XHTML1, 'a'));
            a.href = r2;
            a.textContent = r2;
            a.innerText = r2;
            code.appendChild (document.createTextNode ('>'));
          } else {
            var con = document.getElementById ('AJAX-RESULT-SECONDARY');
            con.textContent = '($B$J$7(B)';
            con.innerText = '($B$J$7(B)';
          }
          var au = document.getElementById ('AJAX-RESULT-AJAX-URI');
          au.textContent = 'https://suika.suikawiki.org/uri-res/2005/ajax?'
                         + encodeURIComponent (origURI);
          au.innerText = au.textContent;
          au.href = au.textContent;
          var uu = document.getElementById ('AJAX-RESULT-N2L-URI');
          uu.textContent = 'https://suika.suikawiki.org/uri-res/N2L?'
                         + encodeURIComponent (origURI);
          uu.innerText = uu.textContent;
          uu.href = uu.textContent;
        };
      }, false);

      var qp = location.href.indexOf ('?');
      var query = qp != -1 ? location.href.substr (qp + 1) : '';
      var origURI;
      if (query.substr (0, 3) == 'uri=') {
        origURI = decodeURIComponent (query.substr (3));
      } else if (query) {
        origURI = decodeURIComponent (query);
      }
      if (origURI) {
        var resURI = document.suikaURNResolver.resolve (origURI, true);
        if (resURI) {
          location.href = resURI;
        } else {
          window.addEventListener ('load', function () {
            var origuv = document.getElementById ('AJAX-ORIGINAL-URI');
            origuv.value = origURI;
            origuv.onchange ();
          }, false);
        }
      }

  </script>
</head>
<body>
<h1>$B@>1;(B <abbr lang="en" xml:lang="en">URN</abbr> $B2r7h4o(B (<abbr
lang="en" xml:lang="en">Ajax</abbr> $BHG(B)</h1>

<p>$B<B83E*$K(B <abbr lang="en" xml:lang="en">Ajax</abbr>
$B$r;H$C$?(B <a
href="/admin/assign/urn"><code class="URI">&lt;urn:x-suika-fam-cx:&gt;</code> 
$B2<$N(B <abbr lang="en" xml:lang="en">URI</abbr></a>
$B$+$i(B <abbr lang="en" xml:lang="en">HTTP</abbr>
$B$r;H$C$F<h=P$72DG=$J(B <abbr lang="en" xml:lang="en">URI</abbr>
$B$X$N2r7h%5!<%S%9$r9T$C$F$$$^$9!#(B</p>

<dl>
<dt>$B85$N(B <abbr lang="en" xml:lang="en">URI</abbr> $B;2>H(B</dt>
	<dd><input type="url" value="urn:x-suika-fam-cx:"
                   id="AJAX-ORIGINAL-URI"
                   size="60" /><button onclick="
          document.getElementById ('AJAX-ORIGINAL-URI').onchange ();
        ">$B2r7h(B</button></dd>
<dt>$B0l<!2r7h(B <abbr lang="en" xml:lang="en">URI</abbr> $B;2>H(B</dt>
        <dd id="AJAX-RESULT-PRIMARY">($B$J$7(B)</dd>
<dt>$BFs<!2r7h(B <abbr lang="en" xml:lang="en">URI</abbr> $B;2>H(B</dt>
        <dd id="AJAX-RESULT-SECONDARY">($B$J$7(B)</dd>
<dt>$B2r7h4o(B (<abbr lang="en" xml:lang="en">Ajax</abbr> $BHG(B) 
<abbr lang="en" xml:lang="en">URI</abbr></dt>
	<dd><code class="URI">&lt;<a id="AJAX-RESULT-AJAX-URI"
	href="https://suika.suikawiki.org/uri-res/2005/ajax"
	>http://suika.fam.cx/uri-res/2005/ajax</a>&gt;</code></dd>
<dt>$B2r7h4o(B (<span lang="en" xml:lang="en"><abbr>RFC</abbr> 2169</span>) 
<abbr lang="en" xml:lang="en">URI</abbr></dt>
	<dd><code class="URI">&lt;<a id="AJAX-RESULT-N2L-URI"
	href="https://suika.suikawiki.org/uri-res/N2L"
	>http://suika.fam.cx/uri-res/N2L</a>&gt;</code></dd>
</dl>

<div class="note memo">
<p><a href="https://suika.suikawiki.org/gate/2005/sw/%E8%A5%BF%E7%93%9CURN%E8%A7%A3%E6%B1%BA%E5%99%A8/Ajax%E7%89%88"
title="SuikaWiki : $B@>1;(B URN $B2r7h4o(B // Ajax $BHG(B"
>$B$3$N2r7h4o$K4X$9$k%a%b(B</a>$B$,$"$j$^$9!#(B
$B$*Ld9g$;Ey$b$=$A$i$X$I$&$>!#(B</p>
</div>

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/search/" rel="search">$B8!:w(B</a>]
[<a lang="en" xml:lang="en" href="/uri-res/" rel="up"><abbr
title="Uniform Resource Identifiers">URI</abbr></a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2012/01/21 06:42:32 $</div>
</div>
</body>
</html>
