<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
  <title>URI $B2r7h4o(B</title>
  <link rev="made" href="mailto:admin+suika@suikawiki.org" />
  <meta name="author" content="$B@>1;7W2h4IM}ItEPO?L>78(B" />
  <link rel="copyright" href="/c/pd" />
  <link rel="stylesheet" href="/admin/style/common" media="all" />
  <link rel="stylesheet" href="/www/style/ui/toc-after-abstract" media="all" />

  <script type="text/javascript"
      src="/www/2005/uri-resolver/SimpleURIResolver.js"></script>
  <script type="text/javascript">
    document.suikaURNResolver = new SimpleURIResolver ();
    document.suikaURNResolver.addMappingTableURI
      ('urn:x-suika-fam-cx:',
       'https://suika.suikawiki.org/admin/assign/urn-x-suika-fam-cx.map');

      var qp = location.href.indexOf ('?');
      var query = qp != -1 ? location.href.substr (qp + 1) : '';
      var origURI;
      if (query.substr (0, 3) == 'uri=') {
        origURI = decodeURIComponent (query.substr (3));
      } else if (query) {
        origURI = decodeURIComponent (query);
      }
      if (origURI) {
        var resURI = document.suikaURNResolver.resolve (origURI, true);
        if (resURI) {
          location.href = resURI;
        }
      }
  </script>
</head>
<body>
<h1><abbr lang="en" xml:lang="en">URI</abbr> $B2r7h4o(B</h1>

<div class="section" id="NOTE">
<h2><code class="URI">&lt;http://suika.fam.cx/uri-res/&gt;</code> 
$B$K$D$$$F(B</h2>

<p>$B0JA0!"(B <code class="URI">&lt;http://suika.fam.cx/uri-res/&gt;</code> 
$B0J2<$G$O(B <a href="urn:ietf:rfc:2169" class="standard-number" 
lang="en" xml:lang="en"><abbr title="Request for Comments">RFC</abbr> 2169</a> 
<cite lang="en" xml:lang="en">A Trivial Convention for using <abbr>HTTP</abbr>
in <abbr>URN</abbr> Resolution</cite> $B$K4p$E$/(B <abbr
lang="en" xml:lang="en">URN</abbr> $B2r7h4o$J$I$rDs6!$7$F$$$^$7$?$,!"(B
$B8=:_ET9g$K$h$jDd;_$7$F$*$j$^$9!#:F3+$N;~4|$OL$Dj$G$9!#(B
(2004$BG/(B11$B7n(B)</p>
</div>

<div class="section" id="AJAX-SUIKA-URN">
<h2>$B@>1;(B <abbr lang="en" xml:lang="en">URN</abbr> $B2r7h4o(B (<abbr
lang="en" xml:lang="en">Ajax</abbr> $BHG(B)</h2>

<p>$B<B83E*$K(B <a href="2005/ajax"><abbr lang="en" xml:lang="en">Ajax</abbr>
$B$r;H$C$?(B <code class="URI">&lt;urn:x-suika-fam-cx:&gt;</code> 
$B2<$N(B <abbr lang="en" xml:lang="en">URI</abbr>
$B$+$i(B <abbr lang="en" xml:lang="en">HTTP</abbr>
$B$r;H$C$F<h=P$72DG=$J(B <abbr lang="en" xml:lang="en">URI</abbr>
$B$X$N2r7h%5!<%S%9(B</a>$B$r9T$C$F$$$^$9!#(B (2005$BG/(B6$B7n(B)</p>
</div>

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/search/" rel="search">$B8!:w(B</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2005/06/15 01:06:59 $</div>
</div>
</body>
</html>
