<html xmlns="http://www.w3.org/1999/xhtml"
  lang="ja" xml:lang="ja">
<head>
<title>$B%i%&%*!<$NDjM}(B</title>
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<meta name="author" content="*$B$U$f(B*" />
<link rel="stylesheet" href="/s/default/xhtml1" />
</head>

<body>
<h1>$B%i%&%*!<$NDjM}(B</h1>

<div id="Y2002M07D17" class="section">
<h2>2002-07-17</h2>

<p>
$BBg1:$G$9!#:#F|$+$i@5<0$KF|5-$r=q$-;O$a$^$9!#(B
</p><p>
$B6a:"<+J,$NL$=O$5$rO*Dh$7$9$.$NKhF|$G$9!#(B
$B>\$7$$$3$H$O0lIt$N?M$K$7$+$o$+$i$J$$$+$b$7$l$^$;$s$,!&!&!&!#(B
$B$b$&$9$00l?M$G@83h$9$k$h$&$K$J$k$N$@$+$i!"<+J,$N9TF0$O<+J,$G@UG$;}$?$J$/$A$c$M(B!
$BL$N}$O$9$C$-$j<N$F$F!"?7$7$$<+J,$rAGD>$KI=8=$7$F$$$-$?$$$G$9!#(B
</p><p>
$B9b9;$KF~$C$F$+$iLs(B2$BG/4VH>!"$$$m$$$m$J$3$H$,$"$C$?$1$I!"(B
$B:G8e$K$O$d$C$Q$jK~B-$7$FB46H$7$F$$$-$?$$!#(B
$B$3$N(B3$BG/4V$O<+J,$K$H$C$F:G9b$NG/7n$G$"$C$?$H;W$$$?$$!#(B
$B9b9;$G$N$_$s$J$H$N=P2q$$$rBg@Z$K$7$?$$!#(B
</p><p>
$B$J$s$+$o$+$i$J$$?M$K$O!"$^$C$?$/0UL#ITL@$NFbMF$K$J$C$F$^$9$M(B!
$BL@F|$OIaDL$NFbMF$r=q$-$?$$$H;W$$$^$9!#(B
$B$?$^$K$O:#F|$_$?$$$K46=}E*(B &amp;
$BCj>]E*$K$J$C$F$7$^$&$+$b$7$l$^$;$s$,$*5v$7$/$@$5$$!#(B
</p>
</div>

<div id="Y2002M07D22" class="section">
<h2>2002-07-22</h2>

<p>
$B$b$A$m$sKM<+?H$b!&!&!&!#(B
</p><p>
$B$=$NF|$O$?$/$5$s$N>pJs$rF@$F!"Hs>o$K;W$$=P$K;D$k0lF|$H$J$j$^$7$?!#(B
</p>

<p>
$B$"$l$+$i(B1$BG/!#(B
</p><p>
$B$=$N5$;}$A$,8=:_?J9T7A$N?M$b$b$A$m$s$$$^$9$,!"$[$H$s$I$N?M$NNx$O=*$o$C$F$$$^$9!#(B
</p><p>
$B!V=*$o$C$F$$$k!W$H$$$&I=8=$O@5$7$/$J$$$+$b$7$l$^$;$s!#(B
</p><p>
$B!V$_$s$J$,$=$l$>$l$NEz$($rF@$F!"Bg?M$X$H0lJb@.D9$7$?!#!W(B
</p><p>
$B$=$&?.$8$?$$$H;W$$$^$9!#(B
</p>

<p>
$B>e$K$ONx$N%O%C%T!<%(%s%I$O$9$P$i$7$$$b$N$@$H=q$-$^$7$?!#(B
</p><p>
$B$7$+$7!"%O%C%T!<%(%s%I$NNx$G$J$/$F$b!"(B
$BNx$N7P83$OBg$-$JBg?M$X$N%9%F%C%W$K$J$k$H;W$$$^$9!#(B
</p><p>
$B!VKM$O$"$N?M$,9%$-$G$h$+$C$?!#!W$=$&;W$&$3$H$,$G$-$k$J$i$P==J,$@$H;W$$$^$9!#(B
</p><p>
$B$3$N7P83$,$-$C$H>-Mh!"Lr$KN)$D$H?.$8$F!&!&!&!#(B
</p>
</div>

</body>
</html>
