@import '/swe/styles/sw';

p {
  text-indent: 0;
}

.informative {
  color: #004000;
}

a.xref {
  color: inherit;
  border-bottom-style: none;
  text-decoration: none;
}

cite:before, cite:after {
  content: "";
}

:lang(en) em {
  border-bottom-style: none;
  text-decoration: none;
  font-style: italic;
}

#history p:before {
  content: "$B0l!"(B";
}

/*
  License: Public Domain.
*/
