<!DOCTYPE HTML>
<html lang=ja>
<title>SuikaWiki $B4s9FJ8$N%i%$%;%s%9(B (2013$BG/(B1$B7n(B19$BF|HG(B)</title>
<link href=swl-style rel="stylesheet">

<div class="nav swe-info">
$BK\J8=q$O(B<a href="https://suika.suikawiki.org/c/sw/swl-20130119" rel=canonical><time datetime=2013-01-19>2013$BG/(B1$B7n(B19$BF|(B</time>$B;~E@$NFbMF(B</a>$B$r5-=R$7$F$$$^$9!#(B
$BK\J8=q$OB>$NJ8=q$K$h$C$F99?7$"$k$$$OGQ;_$5$l$k$3$H$,$"$j$^$9!#:G?7HG$O(B 
<code class=uri>&lt;<a href="https://suika.suikawiki.org/c/sw/swl" rel=bookmark>http://suika.suikawiki.org/c/sw/swl</a>></code>
$B$+$iF~<j$G$-$^$9!#(B
</div>

<div class=article>
<h1>SuikaWiki $B4s9FJ8$N%i%$%;%s%9(B</h1>

<div class=section id=intro>
<h2>$B$O$8$a$K(B</h2>

<p lang=en id=copyright>Copyright 2002$B!>(B authors

<p id=rights><strong>$BBh(B1$B>r(B</strong> $BK\J8=q$NE,MQBP>]$H$J$k(B wiki $B$KJ8>O!"(B
$B?^2h!"2;@<!"%W%m%0%i%`!"$=$NB>$NCx:nJ*(B 
($B0J2<C1$K(B<dfn id=texts>$BJ8>O(B</dfn>$B$H$7$^$9!#(B) $B$rEj9F$9$k<T(B 
($B0J2<C1$K(B<dfn id=editor>$BEj9F<T(B</dfn>$B$H$7$^$9!#(B) $B$O!"(B
<a href="#texts" class=xref>$BJ8>O(B</a>$B$,K\J8=q$K=>$$<h$j07$o$l$k$3$H$rM}2r$7!"(B
$B>5Bz$9$k$b$N$H$7$^$9!#(B

<p id=copy><strong>$BBh(B2$B>r(B</strong> 
<a href="#editor" class=xref>$BEj9F<T(B</a>$B$O!"B>$NJ88%Ey$+$i0zMQEy$r9T$&>l9g!"(B
$BK\J8=q$N5,Dj$HL7=b$,@8$8$J$$$h$&EXNO$9$k5AL3$rIi$&$b$N$H$7$^$9!#(B</p>
</div>

<div class=section id=cc-by-sa>
<h2>$BBh(B1$B>O(B (CC-BY-SA 3.0)</h2>

<p id=cc-by-sa-1><strong>$BBh(B3$B>r(B</strong>
<a href="#special" class=xref>$BBh(B4$B>O(B</a>$B$KDj$a$k(B<a href="#exceptions" class=xref>$BNc305,Dj(B</a>$B$N$"$k>l9g$r=|$-!"(B
<a href="#texts" class=xref>$BJ8>O(B</a>$B$O(B
<cite><a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a></cite>
$B$K=>$C$F<h$j07$&$3$H$,$G$-$^$9!#(B

</div>

<div class=section id=gfdl>
<h2>$BBh(B2$B>O(B (GNU FDL)</h2>

<p id=gfdl-1><strong>$BBh(B4$B>r(B</strong>
<a href="#special" class=xref>$BBh(B4$B>O(B</a>$B$KDj$a$k(B<a href="#exceptions" class=xref>$BNc305,Dj(B</a>$B$N$"$k>l9g$r=|$-!"(B
<a href="#texts" class=xref>$BJ8>O(B</a>$B$O(B 
<cite>GNU $B<+M3J8=qMxMQ5vBz7@Ls=q(B (GNU FDL)</cite> $B$N(B 
<a href="http://www.gnu.org/licenses/fdl-1.1.html">1.1 
$BHG(B</a>$B$^$?$O$=$l0J9_$NHG$K=>$C$F<h$j07$&$3$H$,$G$-$^$9!#(B
$B$=$N>l9g!"<!$NCJMn$K<($95,Dj$rE,MQ$7$^$9!#$?$@$7!"(B
$B!V(Bthis document$B!W$O(B<a href="#texts" class=xref>$BJ8>O(B</a>$B$r;X$9$b$N$H$7$^$9!#(B

<blockquote>
<p lang=en>Permission is granted to copy, distribute and/or modify
this document under the terms of the <a
href="http://www.gnu.org/licenses/fdl-1.1.html">GNU Free Documentation
License, Version 1.1</a> or any later version published by the Free
Software Foundation; with no Invariant Sections, with no Front-Cover
Texts, and no Back-Cover Texts. A copy of the license is included in
the section entitled $B!H(BGNU Free Documentation License$B!I(B.</p>
</blockquote>

<p id=gfdl-2><strong>$BBh(B5$B>r(B</strong> 
<a href="#gfdl-1" class=xref>$BBh(B4$B>r(B</a>$B$N>l9g$K$*$$$F!"(B
$B!X(BEndorsements$B!Y(B ($B?dA&$N<-(B) $B$N:o=|$r5a$a$k5,Dj(B (GNU FDL 1.1
$B$K$*$1$k(B 4.M, 4.N $B$J$I$N5,Dj!"$"$k$$$O$=$l0J9_$NHG$K$*$1$kF1Ey$N5,Dj(B)
$B$OE,MQ$7$^$;$s!#(B <span class=informative>($B$7$+$7!"(B
$B?dA&$N<-$N>O$rDI2C$7$?(B<a href="#editor" class=xref>$BEj9F<T(B</a>$B$K$O?dA&$NBP>]$rL@5-$9$k$3$H$r?d>)$7!"(B
$B?dA&$N<-$N>O$rJQ99$9$k(B<a href="#editor" class=xref>$BEj9F<T(B</a>$B$K$O85$N(B<a href="#editor" class=xref>$BEj9F<T(B</a>$B$N0U?^$rB;$M$J$$HO0O$G$N$_=$@5$r;\$9$3$H$r?d>)$7$^$9!#(B)</span>

<p id=gfdl-3><strong>$BBh(B6$B>r(B</strong> 
<a href="#gfdl-2" class=xref>$BBh(B4$B>r(B</a>$B$N>l9g$K$*$$$F!"(B
$B!V$"$J$?(B (You)$B!W$O!"(B<a href="#gfdl-2" class=xref>$BBh(B5$B>r(B</a>$B$rE,MQ$7$J$$K\Mh$N(B
GNU FDL $B$N>r7o$N2<$G!X(Bthe Document$B!Y$r<h$j07$&$3$H$,$G$-$^$9!#(B</p>
</div>

<div class=section id=gpl>
<h2>$BBh(B3$B>O(B (GNU GPL)</h2>

<p id=gpl-1><strong>$BBh(B7$B>r(B</strong> 
<a href="#texts" class=xref>$BJ8>O(B</a>$B$K%W%m%0%i%`$N%3!<%I$,4^$^$l$k>l9g$O!"(B 
<a href="#special" class=xref>$BBh(B4$B>O(B</a>$B$KDj$a$k(B<a href="#exceptions" class=xref>$BNc305,Dj(B</a>$B$N$"$k>l9g$r=|$-!"(B
$B$3$l$r(B GNU $B0lHL8xM-;HMQ5vBz7@Ls=q(B (GNU GPL) 
$B$N(B<a href="http://www.gnu.org/licenses/gpl-2.0.html">$BBh(B2$BHG(B</a>$B$^$?$O$=$l0J9_$NHG$K=>$C$F<h$j07$&$3$H$,$G$-$^$9!#$=$N>l9g!"<!$N(B3$BCJMn$K<($95,Dj$rE,MQ$7$^$9!#(B
$B$?$@$7!"!V(Bthis program$B!W$OEv3:%W%m%0%i%`!&%3!<%I$r;X$9$b$N$H$7$^$9!#(B

<blockquote>
<p lang=en>This program is free software; you can redistribute it
and/or modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either <a
href="http://www.gnu.org/licenses/gpl-2.0.html">version 2 of the
License</a>, or (at your option) any later version.

<p lang=en>This program is distributed in the hope that it will be
useful, but <em>WITHOUT ANY WARRANTY</em>; without even the implied
warranty of <em>MERCHANTABILITY</em> or <em>FITNESS FOR A PARTICULAR
PURPOSE</em>. See the GNU General Public License for more details.

<p lang=en>You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
USA.
</blockquote>
</div>

<div class=section id=special>
<h2>$BBh(B4$B>O(B ($BNc305,Dj(B)</h2>

<p id=special-text><strong>$BBh(B8$B>r(B</strong> 
<a href="#editor" class=xref>$BEj9F<T(B</a>$B$O!"(B
<a href="#texts" class=xref>$BJ8>O(B</a>$B$NFCDj$NItJ,$K$D$$$FK\J8=q$N(B<a href="#cc-by-sa" class=xref>$BBh(B1$B>O(B</a>, 
<a href="#gfdl" class=xref>$BBh(B2$B>O(B</a>, 
<a href="#gpl" class=xref>$BBh(B3$B>O$N(B</a>$B$&$A0l$D0J>e$K$+$o$k<h$j07$$$r5a$a$k5,Dj(B
($B0J2<!"(B<dfn id=exceptions>$BNc305,Dj(B</dfn>$B$H8F$S$^$9!#(B) $B$r@_$1$k$3$H$,$G$-$^$9!#(B

<p id=special-statement><strong>$BBh(B9$B>r(B</strong>
<a href="#special-1" class=xref>$BBh(B8$B>r(B</a>$B$N>l9g!"(B
<a href="#editor" class=xref>$BEj9F<T$OEv3:ItJ,$NIU6a$K(B<a href="#exceptions" class=xref>$BNc305,Dj(B</a>$B$rL@5-$7$J$1$l$P$J$j$^$;$s!#(B

<p id=special-license><strong>$BBh(B10$B>r(B</strong> 
<a href="#exceptions" class=xref>$BNc305,Dj(B</a>$B$O!"(B
$BEv3:ItJ,$r4^$`(B<a href="#texts" class=xref>$BJ8>O(B</a>$B$NG[I[$*$h$S2~JQ$rL5@)8B$K5vBz$9$k$b$N$G$J$1$l$P$J$j$^$;$s!#(B
<span class=informative>($B0lNc$H$7$F!"%=%U%H%&%'%"$KBP$9$k<+M3%=%U%H%&%'%"!&%i%$%;%s%9$O0lHL$K(B<a href="#exceptions" class=xref>$BNc305,Dj(B</a>$B$H$7$F:NMQ$9$k$3$H$,$G$-$k$H9M$($i$l$^$9!#(B)</span>

<p id=special-invariant><strong>$BBh(B11$B>r(B</strong> 
<a href="#exceptions" class=xref>$BNc305,Dj$O(B</a>$B!"(B
$B5,HOE*@-<A$rM-$9$k$?$a$K2~JQ$K@)8B$,@_$1$i$l$F$$$kCx:nJ*$N0lIt$^$?$OA4It$r(B<a href="#texts" class=xref>$BJ8>O(B</a>$B$K4^$a$k>l9g$K8B$j!"(B
$B$=$NG[I[$,L5@)8B$K5vBz$5$l$F$$$k$3$H$r>r7o$H$7!"(B
<a href="#special-license" class=xref>$BBh(B10$B>r(B</a>$B$rE,MQ$7$^$;$s!#(B
<span class=informative>($B0lNc$H$7$F!"(B
<a href="http://www.rfc-editor.org/" lang=en>RFC Editor</a> $B$K$h$j=PHG$5$l$?(B 
RFC $B$OK\9`$NE,MQBP>]$H$J$kCx:nJ*$K4^$^$l$k$H9M$($i$l$^$9!#(B)</span></p>
</div>

<div class=section id=revision>
<h2>$BBh(B5$B>O(B ($B2~Dj(B)</h2>

<p id=revision-1><strong>$BBh(B12$B>r(B</strong> $BK\J8=q$,2~Dj$5$l$?>l9g!"(B
$BK\J8=q$,E,MQ$5$l$F$$$?(B<a href="#texts" class=xref>$BJ8>O(B</a>$B$KBP$7$F$O!"(B
$BK\J8=q$^$?$OK\J8=q$N2~DjHG$NAPJ}$,E,MQ$5$l$k$b$N$H$7$^$9!#(B
$B$7$?$,$C$F!"K\J8=q$,E,MQ$5$l$F$$$?(B<a href="#texts" class=xref>$BJ8>O(B</a>$B$r<u$1<h$C$??M$O!"(B
$BK\J8=q$^$?$OK\J8=q$N2~D{HG$N$$$:$l$+$rA*Br$7!"(B
$B$=$N5,Dj$K4p$E$-Ev3:(B<a href="#texts" class=xref>$BJ8>O(B</a>$B$rMxMQ$9$k$3$H$,$G$-$^$9!#(B
</div>

<div class=section id=history>
<h2>$B2~DjMzNr(B ($B;29M(B)</h2>

<div class=section id=history-20130119>
<h3><a href="swl-20100516"><time datetime=2009-10-16>2010$BG/(B5$B7n(B16$BF|(B</time>$BHG(B</a>$B$+$i(B<a href="swl-20130119"><time datetime=2013-01-19>2013$BG/(B1$B7n(B19$BF|(B</time>$BHG(B</a>$B$X$NJQ99E@(B</h3>

<p>URL $B$rJQ99$7$^$7$?!#K\J8$OJQ99$"$j$^$;$s!#(B
</div>

<div class=section id=history-20100516>
<h3><a href="swl-20090711">2009$BG/(B7$B7n(B11$BF|HG(B</a>$B$+$i(B<a href="swl-20100516">2010$BG/(B5$B7n(B16$BF|HG(B</a>$B$X$NJQ99E@(B</h3>

<p>$BA4BNE*$K5,Dj$NJ88@$N8+D>$7$r9T$$$^$7$?!#(B
<p>$BAj8_;2>H$r%O%$%Q!<%j%s%/2=$7$^$7$?!#(B
<p>$B2DFI@-$N8~>e$N$?$a%9%?%$%k!&%7!<%H$r2~D{$7$^$7$?!#(B

</div>

<div class=section id=history-20090711>
<h3><a href="swl-20030126">2003$BG/(B1$B7n(B26$BF|HG(B</a>$B$+$i(B<a href="swl-20090711">2009$BG/(B7$B7n(B11$BF|HG(B</a>$B$X$NJQ99E@(B</h3>

<p><a href="#cc-by-sa">CC-BY-SA</a> $B$K4X$9$k>r9`$rDI2C$7$^$7$?!#(B
<p><a hreF="#revision">$B2~Dj(B</a>$B$K4X$9$k>r9`$rDI2C$7$^$7$?!#(B
<p>$BA4BNE*$K5,Dj$NJ88@$N8+D>$7$r9T$$$^$7$?!#(B</p>
</div>

</div>
