<!DOCTYPE HTML>
<html lang=ja>
<title>SuikaWiki $B4s9FJ8$N%i%$%;%s%9(B (2003$BG/(B1$B7n(B26$BF|HG(B)</title>
<link href="https://suika.suikawiki.org/swe/styles/sw" rel="stylesheet">

<div class="nav swe-info">
$BK\J8=q$O(B<a href="https://suika.suikawiki.org/c/sw/swl-20030126" rel=canonical><time datetime=2003-01-26>2003$BG/(B1$B7n(B26$BF|(B</time>$B;~E@$NFbMF(B</a>$B$r5-=R$7$F$$$^$9!#(B
$BK\J8=q$OB>$NJ8=q$K$h$C$F99?7$"$k$$$OGQ;_$5$l$k$3$H$,$"$j$^$9!#:G?7HG$O(B 
<code class=uri>&lt;<a href="https://suika.suikawiki.org/c/sw/swl" rel=bookmark>http://suika.fam.cx/c/sw/swl</a>></code>
$B$+$iF~<j$G$-$^$9!#(B
</div>

<div class=article>
<h1>SuikaWiki $B4s9FJ8$N%i%$%;%s%9(B</h1>

<p>$B4s9F$7$F$$$?$@$$$?J8>O$O(B GNU $B<+M3J8=qMxMQ5vBz7@Ls=q(B (GFDL) $B$N(B 1.1 
$BHG$^$?$O$=$l0J9_$NHG$K=>$&$b$N$H$7$^$9!#(B

<p lang=en>Copyright 2002- authors

<p lang=en>Permission is granted to copy, distribute and/or modify
this document under the terms of the GNU Free Documentation License,
Version 1.1 or any later version published by the Free Software
Foundation; with no Invariant Sections, with no Front-Cover Texts, and
no Back-Cover Texts. A copy of the license is included in the section
entitled $B!H(BGNU Free Documentation License$B!I(B.

<p>$BC"$7!"!X(BEndorsements$B!Y(B ($B?dA&$N<-(B) $B$N:o=|$r5a$a$k5,Dj(B (4.M, 4.N $B$J$I!#(B) 
$B$OE,MQ$7$^$;$s!#(B ($B$7$+$7!"(B
$B?dA&$N<-$N>O$NI.<T$K$O?dA&$NBP>]$rL@5-$9$k$3$H$r?d>)$7!"(B
$B=$@5<T$K$O?dA&$N<-$N>O$NI.<T$N0U?^$rB;$M$J$$HO0O$G$N$_=$@5$r;\$9$3$H$r?d>)$7$^$9!#(B)
($B$J$*!"!V$"$J$?(B (You)$B!W$O!"$3$NCJMn$N>r9`$r:o=|$7$F!"(B
$B$D$^$j$3$NCJMn$rE,MQ$7$J$$K\Mh$N(B GFDL $B$N>r7o$N2<$G(B
$B!XJ8=q(B (the Document)$B!Y$rG[I[$7$F$b9=$$$^$;$s!#(B)

<p>$B%W%m%0%i%`$N%3!<%I$,4^$^$l$k>l9g$O!"(B GNU $B0lHL8xM-;HMQ5vBz7@Ls=q(B 
(GPL) $B$NBh(B2$BHG$^$?$O$=$l0J9_$NHG$K=>$&$b$N$H$7$^$9!#(B

<p lang=en>This program is free software; you can redistribute it
and/or modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of the
License, or (at your option) any later version.

<p lang=en>This program is distributed in the hope that it will be
useful, but <em>WITHOUT ANY WARRANTY</em>; without even the implied
warranty of <em>MERCHANTABILITY</em> or <em>FITNESS FOR A PARTICULAR
PURPOSE</em>. See the GNU General Public License for more details.

<p lang=en>You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
USA.

<p>$BB>$NJ88%Ey$+$i0zMQEy$9$k>l9g$O!"(B
$B$3$l$i$N%i%$%;%s%9$KH?$7$J$$$h$&$K8fCm0U2<$5$$!#(B

<p>$B$=$NB>$N%i%$%;%s%9$r:NMQ$9$k>l9g$O!"Ev3:(B Wiki page $BFb$K!"(B License 
$B$N9`$r@_$1$F!"$=$3$KL@5-$7$J$1$l$P$J$j$^$;$s!#4pK\E*$K!"(B
$BG[I[$*$h$S2~JQ$NL5@)8B$N<+M3$,G'$a$i$l$?%i%$%;%s%9(B 
($B%=%U%H%&%'%"$G8@$&$H$3$m$N!"<+M3%=%U%H%&%'%"%i%$%;%s%9(B) 
$B$7$+:NMQ=PMh$^$;$s!#(B ($BC"$7!"(B RFC $B$N%i%$%;%s%9$N$h$&$K!"(B
$B$=$N$b$N$O=$@5$7F@$J$$5,HOE*$J86E5<+?H$N2~JQ$rG'$a$J$$$b$N$O5vMFHO0O$G$9!#(B)</p>

</div>
