<!DOCTYPE HTML>
<html lang=ja>
<title>SuikaWiki $B4s9FJ8$N%i%$%;%s%9(B (2009$BG/(B7$B7n(B11$BF|HG(B)</title>
<link href="https://suika.suikawiki.org/swe/styles/sw" rel="stylesheet">

<div class="nav swe-info">
$BK\J8=q$O(B<a href="https://suika.suikawiki.org/c/sw/swl-20090711" rel=canonical><time datetime=2009-07-11>2009$BG/(B7$B7n(B11$BF|(B</time>$B;~E@$NFbMF(B</a>$B$r5-=R$7$F$$$^$9!#(B
$BK\J8=q$OB>$NJ8=q$K$h$C$F99?7$"$k$$$OGQ;_$5$l$k$3$H$,$"$j$^$9!#:G?7HG$O(B 
<code class=uri>&lt;<a href="https://suika.suikawiki.org/c/sw/swl" rel=bookmark>http://suika.fam.cx/c/sw/swl</a>></code>
$B$+$iF~<j$G$-$^$9!#(B
</div>

<div class=article>
<h1>SuikaWiki $B4s9FJ8$N%i%$%;%s%9(B</h1>

<div class=section id=intro>
<h2>$B$O$8$a$K(B</h2>

<p lang=en id=copyright>Copyright 2002$B!>(B authors

<p id=rights>$BBh(B1$B>r(B $BK\J8=q$NE,MQBP>]$H$J$k(B wiki $B$KJ8>O!"?^2h!"2;@<!"(B
$B%W%m%0%i%`!"$=$NB>$NCx:nJ*(B ($B0J2<C1$K(B<dfn id=texts>$BJ8>O(B</dfn>$B$H$7$^$9!#(B)
$B$rEj9F$9$k<T(B ($B0J2<C1$K(B<dfn id=editor>$BEj9F<T(B</dfn>$B$H$7$^$9!#(B) $B$O!"(B
$BJ8>O$,K\J8=q$K=>$$<h$j07$o$l$k$3$H$rM}2r$7!">5Bz$9$k$b$N$H$7$^$9!#(B

<p id=copy>$BBh(B2$B>r(B $BEj9F<T$O!"B>$NJ88%Ey$+$i0zMQEy$r9T$&>l9g!"(B
$BK\J8=q$N5,Dj$HL7=b$,@8$8$J$$$h$&EXNO$9$k5AL3$rIi$&$b$N$H$7$^$9!#(B</p>
</div>

<div class=section id=cc-by-sa>
<h2>$BBh(B1$B>O(B (CC-BY-SA 3.0)</h2>

<p id=cc-by-sa-1>$BBh(B3$B>r(B
<a href="#special">$BBh(B4$B>O(B</a>$B$KDj$a$kNc305,Dj$N$"$k>l9g$r=|$-!"J8>O$O(B
<a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a>
$B$K=>$C$F<h$j07$&$3$H$,$G$-$^$9!#(B

</div>

<div class=section id=gfdl>
<h2>$BBh(B2$B>O(B (GNU FDL)</h2>

<p id=gfdl-1>$BBh(B4$B>r(B
<a href="#special">$BBh(B4$B>O(B</a>$B$KDj$a$kNc305,Dj$N$"$k>l9g$r=|$-!"(B
$BJ8>O$O(B GNU $B<+M3J8=qMxMQ5vBz7@Ls=q(B (GNU FDL) $B$N(B 
<a href="http://www.gnu.org/licenses/fdl-1.1.html">1.1 
$BHG(B</a>$B$^$?$O$=$l0J9_$NHG$K=>$C$F<h$j07$&$3$H$,$G$-$^$9!#(B
$B$=$N>l9g!"<!$NCJMn$K<($95,Dj$rE,MQ$7$^$9!#(B

<blockquote>
<p lang=en>Permission is granted to copy, distribute and/or modify
this document under the terms of the <a
href="http://www.gnu.org/licenses/fdl-1.1.html">GNU Free Documentation
License, Version 1.1</a> or any later version published by the Free
Software Foundation; with no Invariant Sections, with no Front-Cover
Texts, and no Back-Cover Texts. A copy of the license is included in
the section entitled $B!H(BGNU Free Documentation License$B!I(B.</p>
</blockquote>

<p id=gfdl-2>$BBh(B5$B>r(B <a href="#gfdl-1">$BBh(B5$B>r(B</a>$B$N>l9g$K$*$$$F!"(B
$B!X(BEndorsements$B!Y(B ($B?dA&$N<-(B) $B$N:o=|$r5a$a$k5,Dj(B (GNU FDL 1.1
$B$K$*$1$k(B 4.M, 4.N $B$J$I$N5,Dj!"$"$k$$$O$=$l0J9_$NHG$K$*$1$kF1Ey$N5,Dj(B)
$B$OE,MQ$7$^$;$s!#(B <span class=informative>($B$7$+$7!"(B
$B?dA&$N<-$N>O$NI.<T$K$O?dA&$NBP>]$rL@5-$9$k$3$H$r?d>)$7!"(B
$B=$@5<T$K$O?dA&$N<-$N>O$NI.<T$N0U?^$rB;$M$J$$HO0O$G$N$_=$@5$r;\$9$3$H$r?d>)$7$^$9!#(B)</span>

<p id=gfdl-3>$BBh(B6$B>r(B <a href="#gfdl-2">$BBh(B5$B>r(B</a>$B$N>l9g$K$*$$$F!"(B
$B!V$"$J$?(B (You)$B!W$O!"(B<a href="#gfdl-2">$BBh(B6$B>r(B</a>$B$rE,MQ$7$J$$K\Mh$N(B
GNU FDL $B$N>r7o$N2<$G!XJ8=q(B (the Document)$B!Y$r<h$j07$&$3$H$,$G$-$^$9!#(B</p>
</div>

<div class=section id=gpl>
<h2>$BBh(B3$B>O(B (GNU GPL)</h2>

<p id=gpl-1>$BBh(B7$B>r(B $BJ8>O$K%W%m%0%i%`$N%3!<%I$,4^$^$l$k>l9g$O!"(B 
<a href="#special">$BBh(B4$B>O(B</a>$B$KDj$a$kNc305,Dj$N$"$k>l9g$r=|$-!"(B
$B$3$l$r(B GNU $B0lHL8xM-;HMQ5vBz7@Ls=q(B (GNU GPL) 
$B$N(B<a href="http://www.gnu.org/licenses/gpl-2.0.html">$BBh(B2$BHG(B</a>$B$^$?$O$=$l0J9_$NHG$K=>$C$F<h$j07$&$3$H$,$G$-$^$9!#$=$N>l9g!"<!$N(B3$BCJMn$K<($95,Dj$rE,MQ$7$^$9!#(B

<blockquote>
<p lang=en>This program is free software; you can redistribute it
and/or modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either <a
href="http://www.gnu.org/licenses/gpl-2.0.html">version 2 of the
License</a>, or (at your option) any later version.

<p lang=en>This program is distributed in the hope that it will be
useful, but <em>WITHOUT ANY WARRANTY</em>; without even the implied
warranty of <em>MERCHANTABILITY</em> or <em>FITNESS FOR A PARTICULAR
PURPOSE</em>. See the GNU General Public License for more details.

<p lang=en>You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
USA.
</blockquote>
</div>

<div class=section id=special>
<h2>$BBh(B4$B>O(B ($BNc305,Dj(B)</h2>

<p id=special-text>$BBh(B8$B>r(B $BEj9F<T$O!"(B
$BJ8>O$NFCDj$NItJ,$K$D$$$FK\J8=q$NBh(B1$B>O$+$iBh(B3$B>O$K$+$o$k<h$j07$$$r5a$a$k5,Dj(B
($B0J2<!"(B<dfn id=exceptions>$BNc305,Dj(B</dfn>$B$H8F$S$^$9!#(B) $B$r@_$1$k$3$H$,$G$-$^$9!#(B

<p id=special-statement>$BBh(B9$B>r(B <a href="#special-1">$BBh(B8$B>r(B</a>$B$N>l9g!"(B
$BEj9F<T$OEv3:ItJ,$NIU6a$KNc305,Dj$rL@5-$7$J$1$l$P$J$j$^$;$s!#(B

<p id=special-license>$BBh(B10$B>r(B $BNc305,Dj$O!"(B
$BG[I[$*$h$S2~JQ$rL5@)8B$K5vBz$9$k$b$N$G$J$1$l$P$J$j$^$;$s!#(B
<span class=informative>($B%=%U%H%&%'%"$KBP$9$k<+M3%=%U%H%&%'%"!&%i%$%;%s%9$O0lHL$KNc305,Dj$H$7$F:NMQ$9$k$3$H$,$G$-$k$H9M$($i$l$^$9$,!"(B
$B$=$l$K8B$j$^$;$s!#(B)</span>

<p id=special-invariant>$BBh(B11$B>r(B $BNc305,Dj$O!"(B
$B$=$NBP>]$H$J$kJ8>O$NFCDj$NItJ,$,5,HOE*@-<A$rM-$9$k$?$a$K2~JQ$K@)8B$,@_$1$i$l$F$$$k>l9g$K8B$j!"(B
$BG[I[$,L5@)8B$K5vBz$5$l$F$$$k$3$H$r>r7o$H$7!"(B
<a href="#special-license">$BBh(B10$B>r(B</a>$B$rE,MQ$7$^$;$s!#(B
<span class=informative>(<a href="http://www.rfc-editor.org/" lang=en>RFC
Editor</a> $B$K$h$j=PHG$5$l$?(B RFC $B$OK\9`$NBP>]$K4^$^$l$k$H9M$($i$l$^$9$,!"(B
$B$=$l$K8B$j$^$;$s!#(B)</span></p>
</div>

<div class=section id=revision>
<h2>$BBh(B5$B>O(B ($B2~Dj(B)</h2>

<p id=revision-1>$BBh(B12$B>r(B $BK\J8=q$,2~Dj$5$l$?>l9g!"(B
$BK\J8=q$,E,MQ$5$l$F$$$?J8>O$KBP$7$F$O!"(B
$BK\J8=q$^$?$OK\J8=q$N2~DjHG$NAPJ}$,E,MQ$5$l$k$b$N$H$7$^$9!#(B</p>
</div>

<div class=section id=history>
<h2>$B2~DjMzNr(B ($B;29M(B)</h2>

<div class=section id=history-20090711>
<h3><a href="swl-20030126">2003$BG/(B1$B7n(B26$BF|HG(B</a>$B$+$i(B<a href="swl-20090711">2009$BG/(B7$B7n(B11$BF|HG(B</a>$B$X$NJQ99E@(B</h3>

<p><a href="#cc-by-sa">CC-BY-SA</a> $B$K4X$9$k>r9`$rDI2C$7$^$7$?!#(B
<p><a hreF="#revision">$B2~Dj(B</a>$B$K4X$9$k>r9`$rDI2C$7$^$7$?!#(B
<p>$BA4BNE*$K5,Dj$NJ88@$N8+D>$7$r9T$$$^$7$?!#(B</p>
</div>

</div>
