<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja"
    class="http404">
<head>
<title>404 $B$_$D$+$j$^$;$s(B</title>
<link rel="stylesheet" href="/admin/style/error" media="all" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="alternate" href="/error/404.en" hreflang="en" />
</head>
<body>
<h1>$B$_$D$+$j$^$;$s(B</h1>

<div class="key-point" id="MAIN">
<p>$B$*C5$7$N;q8;(B<span id="RESOURCE-NAME-CONTAINER"
></span>$B$O$3$N@>1;;*$K$O(B<em>$B$"$j$^$;$s$G$7$?(B</em>$B!#(B</p>

<script type="text/javascript">
var con = document.getElementById ('RESOURCE-NAME-CONTAINER');
con.appendChild (document.createTextNode (' '));
var code = con.appendChild (document.createElement ('code'));
code.setAttribute ('class', 'uri');
code.appendChild (document.createTextNode ('<'));
var a = code.appendChild (document.createElement ('a'));
a.setAttribute ('href', location.href);
a.appendChild (document.createTextNode (location.href));
code.appendChild (document.createTextNode ('>'));
con.appendChild (document.createTextNode (' '));
</script>
</div>

<div class="section" id="CAUSE">
<h2>$B9M$($i$l$k860x(B</h2>

<ul>
<li><span class="caption">$B%j%s%/$r$?$I$C$F$-$?>l9g(B</span>:
$B%j%s%/$r$?$I$C$F$3$3$KE~C#$7$?>l9g$O!"(B
<a class="link-from">$B%j%s%/85$NJ8=q(B</a>$B$G;XDj$5$l$F$$$k(B
<abbr lang="en" xml:lang="en" title="Uniform Resource Identifiers">URI</abbr> 
$B$,4V0c$C$F$$$k$N$+$b$7$l$^$;$s!#(B<a class="link-from"
>$B%j%s%/85$NJ8=q(B</a>$B$NCx<T$K3NG'$7$F$/$@$5$$!#(B</li>
<li><span class="caption">$B%V%i%&%6$KD>@\;XDj$7$?>l9g(B</span>: 
<span lang="en" xml:lang="en">Web $B%V%i%&%6(B</span>$B$N%"%I%l%9Ms$J$I$KD>@\(B
<abbr lang="en" xml:lang="en" title="Uniform Resource Identifiers">URI</abbr>
$B$rF~NO$7$?>l9g$O!"DV$j$J$I$,4V0c$C$F$$$J$$$+$b$&0lEY$43NG'2<$5$$!#(B</li>
<li>$B8E$$(B 
<abbr lang="en" xml:lang="en" title="Uniform Resource Identifiers">URI</abbr>
$B$r;XDj$5$l$?$N$+$b$7$l$^$;$s!#(B
2003$BG/:"$K@>1;;*$N@_Dj$,JQ99$5$l$?$?$a!"(B
$B$=$l0JA0$KB8:_$7$?$b$N$,<:$o$l$F$$$k$3$H$,$"$j$^$9!#(B
($B$3$l$K3:Ev$9$k$H;W$o$l$k>l9g!"$*<j?t$G$9$,(B<a 
href="#CONTACT">$B4IM}<T$^$G$4O"Mm2<$5$$(B</a>$B!#(B)</li>
</ul>

<script type="text/javascript">
if (document.referrer) {
  var anchors = document.getElementById ('CAUSE')
                        .getElementsByTagName ('a');
  var anchorsLength = anchors.length;
  for (var i = 0; i < anchorsLength; i++) {
    if (anchors[i].className == 'link-from') {
      anchors[i].href = document.referrer;
    }
  }
}
</script>
</div>

<div class="section" id="CONTACT">
<h2>$B$*Ld9g$;@h(B</h2>

<p>$B5?LdE@$J$I$,$4$6$$$^$7$?$i!"4IM}<T$^$G$*Ld9g$;2<$5$$!#(B
$BJ#?t$NO"MmJ}K!$,$"$j$^$9$,!"$I$l$r$4MxMQD:$$$F$b9=$$$^$;$s!#(B</p>

<div class="memo note">
<p>$B$*Ld9g$;$N:]$O!"$I$N$h$&$J(B<a href="#MAIN">$B%a%C%;!<%8$,I=<((B</a
>$B$5$l$F$$$k$+$b$*=q$-E:$(2<$5$$!#(B</p>
</div>

<dl>
<dt>$BEE;R%a%$%k(B: <code class="mail">&lt;<a href="mailto:admin+suika@suikawiki.org">admin+suika@suikawiki.org</a>&gt;</code></dt>
	<dd>$B$*4s$;D:$$$?FbMF$ODL>o$O8x3+$7$^$;$s!#(B</dd>
<!--<dt>$BEE;R%K%e!<%9(B: <code
	xml:lang="en" lang="en" class="newsgroup"><a
	href="news:suika.admin">suika.admin</a></code>
	(<a href="news://suika.fam.cx/suika.admin"
	title="suika.admin (NNTP)"><abbr
	lang="en" xml:lang="en" title="Network News Transfer Protocol"
	>NNTP</abbr></a>
	/ <a href="/~wakaba/-temp/newsportal/thread/suika.admin"
	title="suika.admin (HTTP)"><abbr
	lang="en" xml:lang="en" title="Hypertext Transfer Protocol"
	>HTTP</abbr></a>)</dt>
	<dd>$B$*4s$;D:$$$?FbMF$O<+F0E*$K8x3+$5$l$^$9!#(B</dd>-->
<dt><span lang="en" xml:lang="en">Wiki</span>: 
	<a href="/gate/2005/sw/%E3%81%99%E3%81%84%E3%81%8B%E3%81%AE%E7%9B%AE%E6%AC%A1"
	title="SuikaWiki: $B$9$$$+$NL\<!(B">SuikaWiki</a></dt>
	<dd>$B$*4s$;D:$$$?FbMF$O<+F0E*$K8x3+$5$l$^$9!#(B
	$BO"Mm<T$N8D?M>pJs$OI,MW$"$j$^$;$s!#(B</dd>
<dt>$B$=$NB>(B</dt>
	<dd><a href="/admin/#contact">$B@>1;7W2h(B $B$*Ld9g$;@h0lMw(B</a></dd>
</dl>

<div class="note memo">
<p>
$B$3$NO"Mm@h$O;*A4BN$N4IM}<T$N$b$N$G$9!#(B
$B;*Fb$NFCDj$NFbMF$K4X$9$k$*Ld9g$;$O!"$=$l$>$l$NCx<T$^$G$*4j$$$7$^$9!#(B
$B$?$@$7!"O"Mm@h$,J,$+$i$J$$>l9g$O;*A4BN$N4IM}<T$^$G$*Ld9g$;2<$5$$!#(B
</p>
</div>

</div>

<sw-ads error></sw-ads>

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/admin/">$B@>1;7W2h(B</a>
<a href="/admin/web/" lang="en" xml:lang="en">Web</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2005/06/10 10:51:57 $,
R4.9.18</div>
<sw-ads-notes></sw-ads-notes>
</div>

</body>
</html>
