<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja"
    class="http410">
<head>
<title>410 $B@B$-$^$7$?(B</title>
<link rel="stylesheet" href="/admin/style/error" media="all" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<!--<link rel="alternate" href="/error/410.en" hreflang="en" />-->
</head>
<body>
<h1>$B@B$-$^$7$?(B</h1>

<div class="key-point" id="MAIN">
<p>$B$*C5$7$N;q8;(B<span id="RESOURCE-NAME-CONTAINER"
></span>$B$O0JA0$O$3$N@>1;;*$K$"$C$?$+$b$7$l$^$;$s$,!"(B
$B8=:_$O(B<em>$BB8:_$7$^$;$s(B</em>$B!#(B</p>

<script type="text/javascript">
var con = document.getElementById ('RESOURCE-NAME-CONTAINER');
con.appendChild (document.createTextNode (' '));
var code = con.appendChild (document.createElement ('code'));
code.setAttribute ('class', 'uri');
code.appendChild (document.createTextNode ('<'));
var a = code.appendChild (document.createElement ('a'));
a.setAttribute ('href', location.href);
a.appendChild (document.createTextNode (location.href));
code.appendChild (document.createTextNode ('>'));
con.appendChild (document.createTextNode (' '));
</script>
</div>

<div class="section" id="CAUSE">
<h2>$B%a%b(B</h2>

<ul>
<li><span class="caption">$B%j%s%/$5$l$F$$$kJ}$X(B</span>:
$B$3$N(B
<abbr lang="en" xml:lang="en" title="Uniform Resource Identifiers">URI</abbr> 
$B$X$N%j%s%/$O:o=|$9$k$+!"4{$KB8:_$7$J$$;q8;$X$N%j%s%/$G$"$k$3$H$rCm5-$5$l$k$3$H$r$*$9$9$a$7$^$9!#(B
</li>
<li><span class="caption">$B8m$C$F:o=|$5$l$?$i$7$$>l9g(B</span>: 
$B$3$N;q8;$,8m$C$F:o=|$5$l$?$N$G$O$J$$$+$H9M$($i$l$k>l9g!"(B
$B$*<j?t$G$9$,85$N;q8;$NCx<T$K$4O"Mm2<$5$$!#(B
$B85$NCx<T(B ($B$NO"Mm@h(B) $B$,J,$+$i$J$$>l9g$O!"(B
<a href="#CONTACT">$B;*$N4IM}<T$^$G$4O"Mm2<$5$$(B</a>$B!#(B</li>
</ul>
</div>

<div class="section" id="CONTACT">
<h2>$B$*Ld9g$;@h(B</h2>

<p>$B5?LdE@$J$I$,$4$6$$$^$7$?$i!"4IM}<T$^$G$*Ld9g$;2<$5$$!#(B
$BJ#?t$NO"MmJ}K!$,$"$j$^$9$,!"$I$l$r$4MxMQD:$$$F$b9=$$$^$;$s!#(B</p>

<div class="memo note">
<p>$B$*Ld9g$;$N:]$O!"$I$N$h$&$J(B<a href="#MAIN">$B%a%C%;!<%8$,I=<((B</a
>$B$5$l$F$$$k$+$b$*=q$-E:$(2<$5$$!#(B</p>
</div>

<dl>
<dt>$BEE;R%a%$%k(B: <code class="mail">&lt;<a href="mailto:admin+suika@suikawiki.org">admin+suika@suikawiki.org</a>&gt;</code></dt>
	<dd>$B$*4s$;D:$$$?FbMF$ODL>o$O8x3+$7$^$;$s!#(B</dd>
<!--<dt>$BEE;R%K%e!<%9(B: <code
	xml:lang="en" lang="en" class="newsgroup"><a
	href="news:suika.admin">suika.admin</a></code>
	(<a href="news://suika.fam.cx/suika.admin"
	title="suika.admin (NNTP)"><abbr
	lang="en" xml:lang="en" title="Network News Transfer Protocol"
	>NNTP</abbr></a>
	/ <a href="/~wakaba/-temp/newsportal/thread/suika.admin"
	title="suika.admin (HTTP)"><abbr
	lang="en" xml:lang="en" title="Hypertext Transfer Protocol"
	>HTTP</abbr></a>)</dt>
	<dd>$B$*4s$;D:$$$?FbMF$O<+F0E*$K8x3+$5$l$^$9!#(B</dd>-->
<dt><span lang="en" xml:lang="en">Wiki</span>: 
	<a href="/gate/2005/sw/%E3%81%99%E3%81%84%E3%81%8B%E3%81%AE%E7%9B%AE%E6%AC%A1"
	title="SuikaWiki: $B$9$$$+$NL\<!(B">SuikaWiki</a></dt>
	<dd>$B$*4s$;D:$$$?FbMF$O<+F0E*$K8x3+$5$l$^$9!#(B
	$BO"Mm<T$N8D?M>pJs$OI,MW$"$j$^$;$s!#(B</dd>
<dt>$B$=$NB>(B</dt>
	<dd><a href="/admin/#contact">$B@>1;7W2h(B $B$*Ld9g$;@h0lMw(B</a></dd>
</dl>

<div class="note memo">
<p>
$B$3$NO"Mm@h$O;*A4BN$N4IM}<T$N$b$N$G$9!#(B
$B;*Fb$NFCDj$NFbMF$K4X$9$k$*Ld9g$;$O!"$=$l$>$l$NCx<T$^$G$*4j$$$7$^$9!#(B
$B$?$@$7!"O"Mm@h$,J,$+$i$J$$>l9g$O;*A4BN$N4IM}<T$^$G$*Ld9g$;2<$5$$!#(B
</p>
</div>

</div>

<sw-ads error></sw-ads>
<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/admin/">$B@>1;7W2h(B</a>
<a href="/admin/web/" lang="en" xml:lang="en">Web</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2006/06/30 01:33:34 $,
R4.9.18</div>
<sw-ads-notes></sw-ads-notes>
</div>

</body>
</html>
