<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>500 $B%5!<%P!<FbItNc30(B</title>
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suikawiki.org" />
<link rel="copyright" href="/c/pd" />
<meta name="author" content="$B<cMU(B" />
<meta name="ROBOTS" content="NOINDEX, NOARCHIVE" />
</head>
<body>
<h1>$B%5!<%P!<FbItNc30(B</h1>

<p>$B%5!<%P!<FbIt$NNc30$,860x$G!"@A5a$5$l$?;q8;$r$*Aw$j=PMh$^$;$s!#(B</p>
<p>$B>/$7;~4V$rCV$$$F!"$b$&0lEY$*;n$72<$5$$!#(B</p>
<p>$B$=$l$G$bNc30$,H/@8$9$k>l9g$O!"$*<j?t$G$9$,!"Nc30$NH/@8$7$?;~9o$H!"(B
$B2?$+;W$$Ev$?$k@a$,$"$l$P$=$NE@$r!"(B
<a href="mailto:admin+suika@suikawiki.org">$B@>1;(B Web $B%5!<%P!<$N4IM}<T(B</a>
$B$^$G8fO"Mm2<$5$$!#(B</p>

<sw-ads error></sw-ads>
<address>
  <a href="/admin/">$B@>1;7W2h(B</a>$B$N(B
  <a href="mailto:admin+suika@suikawiki.org">$B4IM}<T(B</a>
  <sw-ads-notes></sw-ads-notes>
</address>
<div class="update">
<a href="http://validator.w3.org/check?uri=https://suika.suikawiki.org/error/500.ja.html" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid HTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=https://suika.suikawiki.org/error/500.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
