<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>503 $B%5!<%S%9$O0l;~E*$KMxMQ$G$-$^$;$s(B</title>
<link rel="help" href="mailto:admin+suika@suikawiki.org" title="$B>\$7$/$O4IM}<T08$F$K%a%$%k$G$*Ld$$9g$o$;2<$5$$(B" />
<link rel="top" href="/" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="stylesheet" href="/admin/style/common" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<h1>$B%5!<%S%9$O0l;~E*$KMxMQ$G$-$^$;$s(B</h1>

<p>$B%5!<%P!<$O!"0];}4IM}:n6HCf$G$"$k$+!"$^$?$O@-G=>e$NLdBj$+$i!"(B
$B0l;~E*$KMW5a$r=hM}$G$-$^$;$s!#(B
$B;~4V$rCV$$$F$+$i:FEY$*;n$72<$5$$!#(B
</p>

<p>$B$4ITL@$JE@$J$I$,$"$j$^$7$?$i!"(B
<a href="/~wakaba/-temp/wiki/wiki?%A4%B9%A4%A4%A4%AB%A4%CE%CC%DC%BC%A1">SuikaWiki
$BFb$N$*Ld$$9g$o$;Ms(B</a>$B$K=q$/$+!"(B
$B$^$?$O8e5-$N%a%$%k!&%"%I%l%908$F$K$*Ld$$9g$o$;2<$5$$!#(B
</p>

<p>
$B0JA0@>1;%5!<%P!<$N(B account $B$r$*;}$A$@$C$?J}$X(B:
2003$BG/$O$8$a$N0];}4IM}:n6H$KH<$$(B Web 
$B$N;q8;$,MxMQ$G$-$J$$>uBV$K$J$C$?$^$^$N>l9g!"(B
$B$=$NL>A06u4V$OJ]N1$5$l!"$3$N$h$&$K(B 503 $B1~Ez$,JV$k$h$&$K@_Dj$5$l$F$$$^$9!#(B
$B:#8e$b=>MhDL$j;HMQ$7$F$$$?$@$1$^$9$,!"(B
$B0JA0$H$O@_DjEy$,0[$J$j$^$9$+$i!"(B
<code class="mail">&lt;<a href="mailto:admin+suika@suikawiki.org">admin+suika@suikawiki.org</a>&gt;</code>
$B$^$G0lEY$4O"Mm2<$5$$!#(B
</p>

<sw-ads error></sw-ads>
<address>
<a hreF="/admin/">$B@>1;7W2h4IM}It(B</a>
<a href="/admin/web/">Web $B%5!<%P!<ItLg(B</a>
<code class="mail">&lt;<a href="mailto:admin+suika@suikawiki.org">admin+suika@suikawiki.org</a>&gt;</code>
<sw-ads-notes></sw-ads-notes>
</address>
<div class="update">$Date: 2003/09/05 11:32:52 $, R4.9.18</div>
</body>
</html>
