@page {
	margin: 10%; }

	unicode-bidi: embed;
}
.report-1 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 220%;
	color: #FFFF00;
	border-left: 0.5em solid #DD0000;
	border-bottom: 2px solid #DD0000;
	FONT-WEIGHT: 800;
}
.report-2 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 180%;
	color: #FFFF33;
	border-left: 0.4em solid #00CCAA;
	FONT-WEIGHT: 700;
}
.report-3 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 160%;
	color: #00CC99;
	border-left: 0.4em solid #003399;
	FONT-WEIGHT: 600;
}
.report-4 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 140%;
	color: #666666;
	border-left: 0.3em solid #99FF00;
	FONT-WEIGHT: 500;
}
.report-5 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 120%;
	color: #003366;
	border-left: 0.3em solid #00FFCC;
	FONT-WEIGHT: normal;
}
.report-6 {
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 100%;
	color: #000000;
	border-left: 0.3em solid #FFB5FF;
	FONT-WEIGHT: normal;
}
#dots { font-size: 220%;
	margin-left:5px;
	margin-right: 5px;
	margin-top: 5px; 
	border: dotted 10px black;
	border-top-color: #ffff00;
	border-left-color: #ff0000;
	border-bottom-color: #00ff00;
	border-right-color: #ff0000;
	line-height: 140%;
}
.blue {
	color: blue;
	font-weight: 600;
}
.program {
	border: 0.3em solid #00FFCC;
}
.team {
	border: 0.3em solid #00ffcc;
}
.date {
	text-align: right;
	color: 33cccc;
}
.name {
	text-align: left;
	text-width: 600;
	color:cc3333;
}
.date-suika {
	text-align: right;
	color: black;
}
.name-suika {
	text-align: right;
	color: black;
}
.title {
	text-align: center;
	font-size: 24px;
	color: black
}
#l {
	font-weight: 500;
	color: red;
}
#g {
	font-weight: 300;
	color: green;
}
#gl {
	font-weight: 500;
	color: green;
}
#ll {
	font-weight: 900;
}
.example {
	background-color: #f9f5de;
	border-right: black 1px solid;
	padding-right: 1em;
	border-top: black 1px solid;
	padding-left: 1em;
	padding-bottom: 0.2em;
	margin-left: 10%;
	border-left: black 1px solid;
	color: #5d0091;
	text-indent: 0px;
	line-height: 200%;
	padding-top: 0.2em;
	border-bottom: black 1px solid;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	line-height: 135%;
	font-style: normal;
	font-family: monospace;
	letter-spacing: 1px;
}
.sample {
	background-color: #f9f5de;
	border-right: black 1px solid;
	padding-right: 1em;
	border-top: black 1px solid;
	padding-left: 1em;
	padding-bottom: 0.2em;
	margin-left: 10%;
	border-left: black 1px solid;
	color: #5d0091;
	text-indent: 0px;
	line-height: 200%;
	padding-top: 0.2em;
	border-bottom: black 1px solid;
}
.syntax {
	color: gray;
	background-color: #ffe1e1;
	border-right: black 1px solid;
	padding-right: 1em;
	border-top: black 1px solid;
	padding-left: 1em;
	padding-bottom: 0.2em;
	margin-left: 10%;
	border-left: black 1px solid;
	color: #5d0091;
	text-indent: 0px;
	line-height: 200%;
	padding-top: 0.2em;
	border-bottom: black 1px solid;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	line-height: 135%;
	font-style: normal;
	font-family: monospace;
	letter-spacing: 1px;
}
.note {
	margin: 1em 0.5em 0.5em;
	text-indent: 0px;
	line-height: 200%;
}
.fold {
	margin-left: 5em;
	text-indent: -5em;
}
.kumimoji {
	text-combine: letters
}
.warichu {
	text-combine: lines
}
.bouten {
	font-emphasize: dot above
}



body {
	background: #d2ffff;
	color: 000000;
	line-height: normal;
}
applet {
}
div {
	line-height: normal;
}
p {
	line-height: normal;
	text-justify-trim: punctuation;
	text-indent: 1em;
	text-align: justify;
	text-justiry: inter-word;
	punctuation-wrap: hanging;
	punctuation-trim: leading;
	margin: 0em 0em;
}
pre {
	font-size: 100%;
	white-space: pre;
	line-height: normal;
	margin: 0.75em 1em;
}
dd {
	margin-top: 0px;
	margin-left: 3em;
}
h1 {
	text-indent: 0em;
	font-size: 220%;
	line-height: normal;
	color: #000000;
}
h2 {
	text-indent: 0em;
	font-size: 180%;
	line-height: normal;
	color: #000000;
}
h3 {
	text-indent: 0em;
	font-size: 150%;
	line-height: normal;
	color: #000000;
}
h4 {
	text-indent: 0em;
	font-size: 130%;
	line-height: normal;
	color: #000000;
}
h5 {
	text-indent: 0em;
	font-size: 120%;
	line-height: normal;
	color: #000000;
}
h6 {
	text-indent: 0em;
	font-size: 120%;
	line-height: normal;
	color: #000000;

}
ol {
	margin: 0.75em 1em;
	list-style-type: decimal;
}
ul {
	margin: 0.75em 1em;
	list-style-type: disc;
}
li {
	display: list-item;
	margin-left: 1em;
}
hr {
	margin: 0.75em 1em;
	border-right: black 1px;
	border-top: black 1px solid;
	border-left: black 1px;
	border-bottom: black 1px;
}
thead {
	display: table-header-group;
}
tfoot {
	display: table-footer-group;
}
table {
	transparent scroll repeat 0% 0%;
	text-align: left;
	line-height: normal;
}
tr {
	background: none transparent scroll repeat 0% 0%;
	text-align: left;
}
th {
	background: none transparent scroll repeat 0% 0%;
	text-align: left;
	font-weight: bolder;
}
td {
	transparent scroll repeat 0% 0%;
}
em {
	font-weight: 700;
	color: red;
	font-style: normal;
}	
strong {
	font-weight: 800;
}
var {
	font-style: normal;
}
address {
	padding-top: 0.5em;
	margin: 0.75em 1em;
}
cite {
	color: turquoise;
	font-style: normal;
}
blockquote {
	padding-left: 0.5em;
	margin: 0.75em 1em;
}
q {
	color: 00ffcc;
	font-style: normal;
}
dfn {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	line-height: 120%;
	font-style: normal;
	font-family: monospace;
	letter-spacing: 1px;
}
samp {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	line-height: 120%;
	font-style: normal;
	font-family: monospace;
	letter-spacing: 1px;
}
kbd {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	line-height: 120%;
	font-style: normal;
	font-family: monospace;
	letter-spacing: 1px;
}
code {
	line-height: 135%;
	font-style: normal;
	font-family: courier new, courier, monospace;
	letter-spacing: 1px;
}
sub {
	padding-left: 0em;
	font-size: 100%;
	color: 000000;
	border: 0.1em solid #ffb5ff;
}
sup {
	font-size: 100%;
	vertical-align: super;
}
del {
	text-decoration: line-through
}
ins {
	text-decoration: underline
}
abbr {
	letter-spacing: 0.1em;
	font-variant: small-caps;
}
acronym {
	letter-spacing: 0.1em;
	font-variant: small-caps;
}
head {
	display: none;
}
br:unknown {
	content: "\a";
}
noframes {
	display: none;
}
fieldset {
	display: inline;
	font-size: 100%;
	text-decoration: none;
}
tt {
	display: inline;
	font-size: 100%;
	text-decoration: none;
}
b {
	font-size: normal;
}
i {
	font-size: normal;
}
small {
	font-size: normal;
}
big {
	font-size: normal;
}
unknown {
	font-family: \00ff2d\00ff33\000020\00660e\00671d
}
unknown {
	text-decoration: underline;
}
a:link {
	color: blue;
}
a:visited {
	color: purple;
}
a:active {
	color: white;
}
a:hover {
	background: #64ffd2; color: #007755;
}
img {
	border-right: black 0px;
	border-top: black 0px;
	border-left: black 0px;
	border-bottom: black 0px;
}
a:link img {
	border-right: red 1px solid;
	border-top: red 1px solid;
	border-left: red 1px solid;
	border-bottom: red 1px solid;
}
a:visited img {
	border-right: purple 1px solid;
	border-top: purple 1px solid;
	border-left: purple 1px solid;
	border-bottom: purple 1px solid
}
a:active img {
	border-right: red 1px solid;
	border-top: red 1px solid;
	border-left: red 1px solid;
	border-bottom: red 1px solid;
}
a:hover img {
	border-right: #ffa 1px solid;
	border-top: #ffa 1px solid;
	border-left: #ffa 1px solid;
	border-bottom: #ffa 1px solid;
}
:unknown {
	outline: thin dotted invert
}
unknown {
	direction: ltr;
	unicode-bidi: bidi-override;
	direction: rtl;
}






@media print    
{
h1 {
	page-break-inside: avoid
}
h2 {
	page-break-inside: avoid
}
h3 {
	page-break-inside: avoid
}
h4 {
	page-break-inside: avoid
}
h5 {
	page-break-inside: avoid
}
h6 {
	page-break-inside: avoid
}
blockquote {
	page-break-inside: avoid
}
pre {
	page-break-inside: avoid
}





@media unknown    
{
h1 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: x-low;
	pitch-range: 90
}
h2 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: x-low;
	pitch-range: 80
}
h3 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: low;
	pitch-range: 70
}
h4 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: medium;
	pitch-range: 60
}
h5 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: medium;
	pitch-range: 50
}
h6 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: medium;
	pitch-range: 40
}
li {
	richness: 60; pitch: medium
}
dt {
	richness: 60; pitch: medium
}
dd {
	richness: 60; pitch: medium
}
dt {
	stress: 80
}
pre {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
code {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
em {
	stress: 60; richness: 50; pitch: medium; pitch-range: 60
}
strong {
	stress: 90; richness: 90; pitch: medium; pitch-range: 60
}
dfn {
	stress: 60; pitch: high; pitch-range: 60
}
a:link {
	voice-family: harry, male
}
a:visited {
	voice-family: betty, female
}
a:active {
	voice-family: betty, female; pitch: x-high; pitch-range: 80
}
