body {
	background-color: white
}
.title {
	color: #663300;
	font-size: 220%;
	margin-left:5px;
	margin-right: 5px;
	margin-top: 5px; 
	border: dotted 10px black;
	border-top-color: #FFFF00;
	border-left-color: #FF0000;
	border-bottom-color: #00FF00;
	border-right-color: #FF0000;
	line-height: 140%;
}
.utubi {
	display: block;
	color: orange;
	background-color: FFCC99;
}
#layer0 {
	width: 500px;
	height: 1500px;
	top: 30px;
	left: 135px;
	position: absolute;
	z-index: 0;
	background-color: #CC9966;
}
#layer1 {
	width: 500px;
	height: 1500px;
	top: 20px;
	left: 125px;
	position: absolute;
	z-index: 1;
	background-color: #FFCC99;
	text-align: center;
}
#layer2 {
	width: 200px;
	height: 600px;
	top: 210px;
	left: 60px;
	position: absolute;
	z-index: 2;
	background-color: #99CC33;
}
#layer3 {
	width: 200px;
	height: 600px;
	top: 200px;
	left: 50px;
	position: absolute;
	z-index: 3;
	background-color: #CCFF66;
}
#layer4 {
	width: 200px;
	height: 600px;
	top: 210px;
	left: 285px;
	position: absolute;
	z-index: 4;
	background-color: #CCCC99;
}
#layer5 {
	width: 200px;
	height: 600px;
	top: 200px;
	left: 275px;
	position: absolute;
	z-index: 5;
	background-color: #FFFFCC;
}
#layer6 {
	width: 200px;
	height: 600px;
	top: 210px;
	left: 510px;
	position: absolute;
	z-index: 6;
	background-color: #CC3366;
}
#layer7 {
	width: 200px;
	height: 600px;
	top: 200px;
	left: 500px;
	position: absolute;
	z-index: 7;
	background-color: #FF6699;
}
#layer8 {
	width: 200px;
	height: 600px;
	top: 860px;
	left: 60px;
	position: absolute;
	z-index: 8;
	background-color: #CCCC66;
}
#layer9 {
	width: 200px;
	height: 600px;
	top: 850px;
	left: 50px;
	position: absolute;
	z-index: 9;
	background-color: #FFFF99;
}
#layer10 {
	width: 200px;
	height: 600px;
	top: 860px;
	left: 285px;
	position: absolute;
	z-index: 10;
	background-color: #999966;
}
#layer11 {
	width: 200px;
	height: 600px;
	top: 850px;
	left: 275px;
	position: absolute;
	z-index: 11;
	background-color: #CCCC99;
}
#layer12 {
	width: 200px;
	height: 600px;
	top: 860px;
	left: 510px;
	position: absolute;
	z-index: 12;
	background-color: #CC9933;
}
#layer13 {
	width: 200px;
	height: 600px;
	top: 850px;
	left: 500px;
	position: absolute;
	z-index: 13;
	background-color: #FFCC66;
}
#footer {
  position: absolute;
  top: 1450px;
  z-index: 14;
  background-color: white;
  left: 0;
  right: 0;
  padding: 1em;
  line-height: 2;
}
.google-ads {
  text-align: center;
}
