@import 'it.css';

.title {
	color: #996633;
}
.utubi {
	color: #99CC66;
	background-color: 99CC66;
}
#layer0 {
	background-color: #669933;
}
#layer1 {
	background-color: #99CC66;
}
#layer2 {
	background-color: #663333;
}
#layer3 {
	background-color: #996666;
}
#layer4 {
	background-color: #999900;
}
#layer5 {
	background-color: #CCCC33;
}
#layer6 {
	background-color: #660033;
}
#layer7 {
	background-color: #993366;
}
#layer8 {
	background-color: #330066;
}
#layer9 {
	background-color: #663399;
}
#layer10 {
	background-color: #006633;
}
#layer11 {
	background-color: #339966;
}
#layer12 {
	background-color: #990033;
}
#layer13 {
	background-color: #CC3366;
}
