@charset 'iso-2022-jp';
@namespace H3 'urn:x-suika-fam-cx:markup:ietf:html:3:draft:00';
@namespace 'http://www.w3.org/1999/xhtml';
@namespace h2 'http://www.w3.org/1999/xhtml';
@namespace xml 'http://www.w3.org/XML/1998/namespace';

  H3|fn {
    display: block;
    margin: 2em 3em;
    border: blue 1px dashed;
    padding: 0.8em;
    font-size: 85%;
    background-color: InfoBackground;
    color: InfoText;
    text-decoration: none;
  }
  H3|fn:before {
    display: inline;
    content: "";
  }
  H3|fn :first-child:before {
    display: inline;
    content: "* " /*counter*/ ;
  }
  p H3|fn, h2|p H3|fn {
    display: inline;
    margin: 0; border-style: none; padding: 0;
    vertical-align: super;
    line-height: 1em;
    font-size: 50%;
    color: GrayText;
  }
  p H3|fn:before, h2|p H3|fn:before {
    display: inline;
    content: "";
  }
  p H3|fn:after, h2|p H3|fn:after {
    display: inline;
    content: ""; /*counter*/
  }
  H3|fn :first-child {
    margin-top: 0;
  }
  H3|fn :last-child {
    margin-bottom: 0;
  }

/* License

Copyright 2003 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2003/07/20 06:15:59 $ */
